// Typography
$f-sans-serif: 'Nunito', sans-serif;
$f-condensed: 'Roboto Condensed', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1f9da8;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: hsl(12, 69%, 50%);
$orange: hsl(30, 91%, 61%);
$yellow: #ffed4a;
$green: #228E47;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$cielo: hsl(192, 100%, 50%);
$turquesa: hsl(182, 100%, 45%);
$azulHielo: hsl(180, 50%, 75%);
$fucsiaOsc: #FF0066;
$fucsia: hsla(350, 100%, 50%, 0.397);
$moho: hsl(61, 86%, 77%);
$c1:hsl(60, 74%, 85%);
$c2:hsl(55, 100%, 74%);
$amarillo: #FFEE00;
$c_na:#FFCC00;
$c_az:#76abd6;


$c_1:  hsl(204,45%,95%);
$c_2:  hsl(204,55%,65%);
$c_3:  hsl(191,100%,40%);
$c_4:  hsl(191,85%,65%);
$c_5:  hsl(182,63%,91%);
$c_6:  hsl(182,100%,90%);
$c_7:  hsl(182,100%,80%);
$c_8:  hsl(182,100%,35%);
$c_9:  hsl(182,100%,40%);
$c_10: hsl(182,50%,75%);
$c_11: hsl(50,50%,60%);
$c_12: hsl(50,51%,79%);
$c_13: hsl(50,24%,90%);
$c_14: hsl(50,100%,50%);
$c_15: hsl(54,100%,50%);
$c_16: hsl(54,100%,75%);
$c_17: hsl(61,69%,84%);
$c_18: hsl(61,86%,77%);
$c_19: hsl(25,100%,50%);
$c_20: hsl(338, 100%, 50%);
$c_21: hsl(338,100%,60%);
$c_22: hsl(338,100%,70%);
$c_23: hsl(339, 98%, 83%);


$c_n98: hsl(205,0%,98%);
$c_n90: hsl(191,0%,90%);
$c_n70: hsl(191,0%,70%);
$c_n50: hsl(180,0%,50%);
$c_n21: hsl(205,0%,21%);





$azul: #1f9da8; 
$verde:  #228E47;
$hierba: hsl(93, 69%, 45%);
$botella:  rgb(6, 58, 65);
$yellowgreen:  hsl(80, 61%, 50%);
$pistacho: #c5df4f; 
$body-bg: #f8fafc;
$caja-bg:  #fcfcf6;
$black28: #282828;
$black33: #333333;



// Shadows
$textShadow: 1px 1px 4px rgb(0, 0, 0);
//anterior $textShadow: 1px 1px 6px  rgb(6, 58, 65);
$boxShadow: 1px 1px 4px rgba(6, 58, 65, .65);