// Typography
$f-sans-serif: 'Nunito', sans-serif;
$f-condensed: 'Roboto Condensed', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1f9da8;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: hsl(12, 69%, 50%);
$orange: hsl(30, 91%, 61%);
$yellow: #ffed4a;
$green: #228E47;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$dd: rgb(237, 217, 193);
$fucsBrand: hsl(336, 100%, 50%);
$yellBrand: hsl( 56, 100%, 50%);
$cyanBrand: hsl(180, 100%, 47%);
$azulBrand: hsl(190, 100%, 40%);
$black36:   hsl(  0,   0%, 21%);


$borrar:    hsl(350, 100%, 80%);
$cancelarh: hsl(340, 100%, 65%);
$borrarBrd: hsl(357,  90%, 58%);
$borrtext:  hsl(357,  90%, 38%);

$c_az190:   hsl(190, 100%, 35%);
$contBrd:   hsl(182, 100%, 35%);
$crearCrso: hsl(182, 100%, 40%);
$c_azbebe:  hsl(182, 100%, 80%);
$azulHielo: hsl(180,  50%, 75%);
$continuar: hsl(182,  50%, 85%);
$inputFoc:  hsl(182,  64%, 91%);
$inputFic:  hsl(182, 100%, 95%);
$cajaGrid:  hsl(190,  35%, 91%);
$body-bg:   hsl(210,  40%, 98%);

$c_brd20:   hsl(51, 46%, 30%); 
$c_brd40:   hsl(51, 46%, 40%); 
$c_brd50:   hsl(51, 46%, 50%); 
$c_brd68:   hsl(51, 46%, 68%);
$c_brd78:   hsl(51, 46%, 78%); 
$c_brd84:   hsl(51, 46%, 84%);
$fondo:     hsl(51, 51%, 88%);
$bg_base:   hsl(51, 25%, 90%);
$caja-bg:   hsl(60, 45%, 98%);


$caption:   hsl(55, 100%, 74%);
$mostaza:   hsl(60,  74%, 85%);
$details:   hsl(63,  70%, 94%);





// $fucsia:   hsla(350,100%, 50%, 0.4);
// $c_21:      rgb(255, 51, 126);
// $c_20:      rgb(255, 0, 93);

// $borrtext:  #b80a12;
// $crearBrd:  #d3c888;
// $c_10:      #9fdddf;
// $c_az:      #76abd6;
// $c_1:       #edf3f8;
// $c_2:       #75b0d7;

// $cielo:     #00ccff;
// $c_az3:     #00a3cc;
// $c_4:       #5ad3f2;
// $azul:      #1f9da8; 

// $c_6:       #ccfdff;
// $c_7:       #99fcff;

// $moho:      #f5f792;
// $c_16:      #fff280;
// $c_15:      #ffe600;
// $c_12:      #e5dcae;
// $c_11:      #ccbb66;
// $c_14:      #ffd500;

// $c_na:      #ffcc00;
// $c_19:      #ff6a00;




// $black33:   #333333;
// $c_n21:     #363636;
// $c_n50:     #808080;
// $c_n70:     #b3b3b3;
// $c_n90:     #e6e6e6;
// $c_n98:     #fafafa;



// $black36: #363636;





// $fucsiaOsc: #ff0066;
// $amarillo:  #ffee00;
// $cyanBrand: #00eeee;
// $azulBrand: #00aacc;
// $black36:   #363636;


// $borrar:    #ff99aa;
// $cancelarh: #ff4d88;
// $borrarBrd: #f4343d;
// $borrtext:  #b80a12;

// $enviar:    #3193b3;
// $ver:       #0095b3;
// $contBrd:   #00adb3;
// $crearCrso: #00c5cc;
// $linkHover: #00dee6;
// $azulHielo: #9fdfdf;

// $continuar: #c6ebec;
// $inputFoc:  #daf6f7;
// $alertInfo: rgb(217, 241, 242);
// $cajaGrid:  #e0edf0;
// $body-bg:   #f8fafc;


// $verBrd:    #baa945; 
// $borrarBrd: #c8ba6a;
// $atrasBrd:  #d6cb8f;
// $crearBrd:  #d3c888;
// $c_borde:     #e1d9ad; 
// $inputBrd:  #e7e2c5;
// $oscuroBrd: #eeead2;
// $fondo:     #f0ebd1;
// $bg_logo:   #eceadf;
// $caja-bg:   #fcfcf7;


// $caption:   #fff47a;
// $mostaza:   #f5f5bc;
// $details:   #f9fae3;



// $fucsiaOsc: hsl(336, 100%, 50%);
// $amarillo:  hsl(56, 100%, 50%);
// $cyanBrand: hsl(180, 100%, 47%);
// $azulBrand: hsl(190, 100%, 40%);
// $black36:   hsl(0, 0%, 21%);


// $borrar:    hsl(350, 100%, 80%);
// $cancelarh: hsl(340, 100%, 65%);
// $borrarBrd: hsl(357, 90%, 58%);
// $borrtext:  hsl(357, 90%, 38%);

// $enviar:    hsl(195, 57%, 45%);
// $ver:       hsl(190, 100%, 35%);
// $contBrd:   hsl(182, 100%, 35%);
// $crearCrso: hsl(182, 100%, 40%);
// $linkHover: hsl(182, 100%, 45%);
// $azulHielo: hsl(180, 50%, 75%);
// $continuar: hsl(182, 50%, 85%);
// $inputFoc:  hsl(182, 64%, 91%);
// $cajaGrid:  hsl(191, 35%, 91%);
// $body-bg:   hsl(210, 40%, 98%);

// $alertInfo: #d9f1f2;
// $verBrd:    hsl(51, 46%, 50%); 
// $borrarBrd: hsl(51, 46%, 60%);
// $atrasBrd:  hsl(51, 46%, 70%);
// $crearBrd:  hsl(51, 46%, 68%);
// $borde:     hsl(51, 46%, 78%); 
// $inputBrd:  hsl(51, 41%, 84%);
// $oscuroBrd: hsl(51, 45%, 88%);
// $fondo:     hsl(50, 51%, 88%);
// $bg_logo:   hsl(51, 25%, 90%);
// $caja-bg:   hsl(60, 45%, 98%);


// $caption:   hsl(55, 100%, 74%);
// $mostaza:   hsl(60, 74%, 85%);
// $details:   hsl(63, 70%, 94%);


// $fucsia:   hsla(350,100%, 50%, 0.4);
// $c_21:      #ff337e;
// $c_20:      #ff005d;

// $c_10:      #9fdddf;
// $c_az:      #76abd6;
// $c_1:       #edf3f8;
// $c_2:       #75b0d7;

// $cielo:     #00ccff;
// $c_az3:     #00a3cc;
// $c_4:       #5ad3f2;
// $azul:      #1f9da8; 

// $c_6:       #ccfdff;
// $c_7:       #99fcff;

// $moho:      #f5f792;
// $c_16:      #fff280;
// $c_15:      #ffe600;
// $c_12:      #e5dcae;
// $c_11:      #ccbb66;
// $c_14:      #ffd500;

// $c_na:      #ffcc00;
// $c_19:      #ff6a00;




// $black33:   hsl(  0,  0%, 20%);
// $c_n21:     hsl(  0,  0%, 21%);
// $c_n50:     hsl(  0,  0%, 50%);
// $c_n70:     hsl(  0,  0%, 70%);
// $c_n90:     hsl(  0,  0%, 90%);
// $c_n98:     hsl(  0,  0%, 98%);



// $black36: hsl(  0, 0%, 21%);



// Shadows
$textShadow: 2px 2px 6px rgba(0, 0, 0,.9);
$boxShadow: 1px 1px 4px rgba(0,0,0,.5);