
// Variables
@import 'variables';
*{
    margin:0;
    padding:0;
}

html {
    height:100%;
    font-size:18px;
    overflow-y:hidden;
    line-height:1.5;
}

body {
    height:100%;
    margin:0;
    padding:0;
    font-family:$f-sans-serif;
    font-size:1rem;
    color:#555;
    // background-color: $body-bg;  
    background-color:hsl(182,100%,40%);
    overflow-y:auto;
    overflow-x:auto;
}

/* =========== app =========== */

// #app {
//     min-height: 100%;
// }

.container {
    margin:auto;
    padding:0;
}
.main{
    margin-bottom:4rem;
}


/* =========== Tipografía =========== */

h1,
h2,
h3 {font-family:$f-condensed}

h2 {
    font-size:1.8rem;
    line-height:112%;
    font-weight:400;
}

h3 {
    font-size:1.2rem;
    line-height:120%;
    font-weight:400;
}

h4 {
    font-size:1.2rem;
    line-height:120%;
    font-weight:500;
    font-family:$f-sans-serif;
}

.smallCaps {
    font-family:$f-sans-serif;
    font-variant:small-caps;
}

.pasos-title-1{
    font-size:3rem;
    font-family:$f-sans-serif;
    font-variant:small-caps;
    color:#444;
}
.pasos-title-2{
    font-size:2rem;
    margin-top:1rem;
    font-weight:300;
}

kbd{
    border:1px solid #ccc;
    background-color:#ffee00;
    border-radius:3px;
    padding:0 5px;
    color:#222;
}

ul,li{
    list-style-type:none;
}


/* =========== IMAGE =========== */

img {
    width:100%;
    height:auto;
}

figure {margin:0}

figcaption {
    margin-bottom: 1.6rem;
    font-size: .8rem;
    text-align: right;
    color: #555555;
}

.circle {border-radius: 50%}

/* =========== links =========== */

a,
a:not(.boton),
a:not(.btn) {
    text-decoration: none;
    &:hover {transition: color 1s}
}
.ashadow {box-shadow: $boxShadow}

/* =========== FOOTER =========== */

footer {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    background-color: $black28;
    z-index: 1000;
}

.page-footer {
    padding: .5rem 0;
    text-align: center;
    color:rgb(235, 254, 255);
    font-size:1.2rem;
    a {
    color: hsl(182,100%,80%);
        &:hover {
            color: $turquesa;
            transition: 1s;
        }
    }
}


/* =========== HEADER =========== */

.main-header {
    position:sticky;
    width:100%;
    top:0;
    background-color:$black28;
    z-index:1;
}

.page-header {
    margin:0 0 4rem 0;
    height:5rem;
}
.clase-header{height:2rem; color:#fff;clear:both}

.main-header >.container {
    padding-right:0;
    padding-left:0;
    margin-right:2rem;
    margin-left:2rem;
}

/* =========== MENÚ-principal =========== */


.logo {
    position:absolute;
    width:7.5rem;
    height:7.5rem;
    top:1.25rem;
        > a > svg {
        border-radius:100%;
        width:7.5rem;
        height:7.5rem;
        border:.25rem solid #fff;
        &:hover {
            border:.5rem solid #fff;
            box-shadow:none;
        }
    }
}

.navbar-expand-sm .navbar-toggler {display:none}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menu {
    position:absolute;
    top:2.6rem;
    margin-left:8rem;
    a {
        padding:0 .5rem;
        font-size:1.4rem;
        list-style:height 1.6em;;
        color:$black33;
        color:hsl(197, 58%, 46%);
        color:#fff;
        font-family:$f-condensed;
        text-decoration:none;
        text-transform:normal;
        &:hover {color: #222}
    }
    .navbar-brand{
        font-family: $f-sans-serif;
        font-size:1.5rem;
    }
    a.active {color:hsl(61, 86%, 77%)}

    .nav-sup.active {color:$turquesa}
    .nav-sub {
        color:#fff;
        &:hover {
            color:#222;
            transition:.5s;
        }
    }
    .nav-sup.active {
        color:hsl(55, 100%, 74%);
        &:hover{
            color:hsl(182,100%,40%);
            transition:.5s;
        }
    }
}



/* ===========- menú User =========== */


.dropdown {position:relative}
.dropdown-menu {
  position:absolute;
  top:100%;
//   left: 0;
  z-index:1000;
  display:none;
  float:left;
  min-width:10rem;
  padding:0.8rem;
  margin:0 0.25rem 0 0;
  font-size:0.9rem;
  color:$blue;
  text-align:left;
  border-radius:0.25rem;
}

.dropdown-menu-right {right:0}

.menu-user {
    position: absolute;
    right:2rem;
    top:3rem;
    display:flex;
    flex-direction:row;
    a:hover {color:$turquesa}
    #navbarDropdown {font-variant:small-caps}
    .nav-link{
        // display: flex;
        padding: 0 .6rem;
        color:  hsl(55, 100%, 74%);
        letter-spacing: 0.423;
        font-size: 1.2rem;
    }
    >.nav-item > .show{
        display:flex;
        flex-direction:column;
        font-variant:small-caps; 
        padding:0;
    }
    > .nav-item > .dropdown-menu {
        padding-top:0;
        padding-bottom:0;
        top:2rem;
        right:-.3rem;
        background-color:$body-bg;
        border:1px solid #ccc;
        text-transform:capitalize;
        >.dropdown-item{
            display:block;
            padding-left:1.5rem;
        }
        > a:hover {
            color:#fff;
            background-color:#00DFE7;
            transition:background-color 1s;
        }
    }
}

/* =========== Menú Principal -colapsable ===============*/

@media (max-width:576px) {
    .page-header {
        height:2.5rem;
        margin:0 0 2rem 0;
    }
    .logo {
        position:absolute;
        width:4.2rem;
        height:4.2rem;
        top:.5rem;
        margin-left:0;
        box-shadow:none;
        > a {
            box-shadow:none;
            > svg {
                border-radius:100%;
                width:4.1rem;
                height:4.1rem;
                border:0 solid #fff;
                box-shadow:none;
                &:hover{border:.2rem solid #fff}
            }
        }
    }
    .navbar {padding:0.52rem 0rem}

    .nav-item .nav-item > .dropdown-menu {top:0;
        right:-.3rem}    
        .menu-user {right:0;top:.8rem}
    .navbar-expand-sm .navbar-toggler {display:block}
    .menu {
        top:.5rem;
        margin-left:4.4rem;
    }
    .collapse:not(.show) {display:none}
    .navbar-collapse{
        position:relative;
        margin-top:-.5rem; 
        .nav-sub{
            color:#fff;
            &:hover {color:#222}
        }
    } 
    
    .collapse > .menu-colapsable{ 
        z-index:1;
        > a {
            padding-top:0;
            padding-bottom:0;
            text-align:left;
            display:block;
            background-color:transparent;
            // margin-left: -3.4rem;
            font-size:small;
            text-transform:lowercase;
            &:hover {
                color:#fff;
                background-color:$turquesa;
                transition:background-color 1s;
            }
        }
    }
    .navbar-toggler-icon {
        display:inline-block;
        width:2.9rem;
        height:2.9rem;
        vertical-align:middle;
        content:"";
        background:no-repeat center center;
        background-size:100% 100%;
        mix-blend-mode:multiply;
        &:hover {
            z-index:200;
            mix-blend-mode:screen;
            scale:.7 .8;
            transition:1s;
        }
    }
.navbar-toggler {
        padding:.7rem;
        margin-top:-3px;
        margin-left:-.2rem;
        border:1px solid $body-bg;;
        border-radius:50%;
        font-size:.01rem;
        line-height:.01rem;
        background-color:$body-bg;
        &:hover,
        &.navbar-toggler:focus {
            text-decoration:none;
            background-color:hsl(204,45%,95%);
            transition:background-color 1s;
        }
    }
}

/* =========== caja =========== */

.caja {
    margin:1rem auto;
    max-width:960px;
    border:1px solid hsl(180, 19%, 82%);
    border-radius:5px;
    background-color:$caja-bg;
    box-shadow:1px 1px 4px hsla(180, 44%, 83%, 0.8);
    .caja-body {padding:1.25rem}
    .caja-header {padding:0.75rem 1.25rem}
}
.caja-header .btn,.caja-header button,.caja-header .boton{height:2rem;}

h3 {
    margin-bottom:0;
    padding-bottom:0;
}





/* =========== container=========== */

.container,
.container-header {
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  clear:both;
}
.container{margin-bottom:3rem}
.row {
  display:flex;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px;
  justify-content:center;
}
  
@media screen and (min-width:320px) and (max-width:640px) {
    .container {max-width:100%}
    .caja,.caja.body,.container {
        padding-right:0;
        padding-left:0;
        margin-right:0;
        margin-left:0;          
    }
    html {font-size:14px}
}

@media screen and (min-width:641px) and (max-width:768px) {
    .container {max-width:95%}
    html {font-size:16px}
}

@media screen and (min-width:769px) and (max-width:1200px) {
    .container {max-width:90%}
    html {font-size:16px}
}

@media screen and (min-width:1201px) {
    .container {max-width:1280px}
}



/* =========== TABLE =========== */


.tabla {
    table-layout:auto;
    width:100%;
    padding:1rem .1rem;
    border:2px solid hsl(50, 42%, 84%);
    text-align:left;
    font-family:$f-condensed;
    caption-side:bottom;
    background-color:#fff;
    caption{
      margin-top:1rem;
      padding:.7rem;
      border:2px solid hsl(50, 42%, 84%);
      border-radius:4px;
      background-color:hsl(48, 33%, 91%);
      background-color:hsl(55, 100%, 74%);
    }
}
.tabla .btn{
    font-family: $f-condensed;
    font-size:1rem;
    margin:2px 0;
    min-width:4rem;
    height:2rem;
}
.tabla span{
    vertical-align:text-bottom;
    font-family:$f-condensed;
    text-align:center;
}
table thead th{font-size:1.2rem}

table td {
    padding-right:3px;
    border-bottom:2px solid #ddd;
    vertical-align:middle;    
    background-color:#fff;
}
table th {
    padding-right:3px;
    border-bottom:2px solid $azul;
    font-family:$f-condensed;
    font-weight:300;
    font-variant:small-caps ;
    color:$azul;
}

tbody > tr > td > form {margin-bottom:0}

@media screen and (min-width:320px) and (max-width:640px) {
    table {
      width:100%;
      table-layout:auto;
      font-family:$f-condensed;
      font-size:.8rem;
      >thead th{font-size: 1rem}
      .btn{
        font-size:.8rem; 
        padding-left:.2rem;  
        padding-right:.2rem;
      }
    }
    .caja .caja-body,
    .caja .caja-header{
        padding-left:.0;
        padding-right:.0;
    }
    h2{font-size:1.4rem}
}

@media (min-width:641px) {
    table td{font-size:1rem}
}
.table-responsive{
  width:100%;
  table-layout:auto;
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
}


/* =========== INPUT-FORM =========== */


select,
input,
textarea,
input[type=time] {
    padding:.5rem;
    border:2px solid hsl(50, 42%, 84%);
    margin-top:.2rem;
    background-color:hsla(48, 24%, 96%, 0.8);
}
input[type=text]:focus,
input:focus,
textarea:focus {background-color:hsl(182,63%,91%)}

input[type=number] {max-width: 4rem}

label{font-family: $f-condensed}


/* =========== ALERTS =========== */

.alert {
  position:relative;
  padding:0.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:0.25rem;
}

.alert-success {
  color:#1d643b;
  background-color:hsl(93, 60%, 88%);
  border-color:#c7eed8;
}
.alert-info {
  color:#385d7a;
  background-color:#e2f0fb;
  border-color:#d6e9f9;
}
.t_red{
  color:hsl(338, 100%, 40%);
  line-height:1.2;
}
.alert-danger {
  color:#761b18;
  background-color:#f9d6d5;
  border-color:#f7c6c5;
}


/* =========== BUTTONS =========== */


button {
    border:2px solid hsl(51, 46%, 78%); 
}

button,
.btn,
.boton {
    margin:2px;
    padding:3px .6rem;
    border:1px solid hsl(51, 46%, 78%); 
    border-radius:.2rem;
    font-family:$f-sans-serif;
    font-size:1.1rem;
    font-weight:400;
    text-align:center;     
    // box-shadow: $boxShadow;
    box-sizing:border-box;
    cursor:pointer;
}

.btn{
    display:inline-block;
    text-decoration:none;
    vertical-align: middle;
    overflow:hidden;
    white-space:nowrap;
    color:inherit;
}

.bt_pasos {
    display:grid;
    justify-content:center;
    align-items:center;
    height:6rem;
    font-size:1.6rem;
}
.tx-btn{
   color:#385d7a;
   font-family:$f-condensed;
   &:hover{background-color:hsl(182,63%,91%)}
}


.btn:hover,
.boton:hover {transition:background-color 1s}

.bt_xxl {
    display:block;
    width:100%;
    margin:1rem 0;
}

.disabled,
.disabled:hover {
    background-color:rgb(207, 207, 207);
    color:#fff;
    cursor:not-allowed;
    text-shadow:$textShadow;
}
.ico-shadow{text-shadow:$textShadow}

@media (max-width:550px) {
    .bt-text-hide{display:none}
}
@media (min-width: 551px) {
    .bt-text-hide{text-shadow:none}
}

a.btn, 
.btn {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}   
.bt-clase-header{
    height: 1.5rem;
    padding-top: 0;
    padding-bottom:0;
    margin:3px;
    padding:0 .25rem;
    background-color: #fff;
    color:#222;
    border:1px solid #fff;
    border-radius: 3px;
}
.default{
    background-color:hsl(182, 100%, 35%);
    color:#fff;
    &:hover{
        background-color:hsl(182, 40%, 70%);
        color:#333;
    }
}

.default-reves{
    background-color: hsl(182, 40%, 70%);
    color: #333;
    &:hover{
        background-color:  hsl(182, 100%, 35%);
        color: #fff;
    }
}

.primary {
    background-color: hsl(191,100%,40%);
    color: #fff;
    &:hover {
        background-color: hsl(182, 100%, 45%);
        //arriba turquesa
        color: #222;
    }
}

.primary-reves {
    background-color: hsl(48, 33%, 91%);
    color: #222;
    &:hover {
        background-color: hsl(191,100%,40%);
        color: #fff;
    }
}

.secondary {
    background-color: hsl(182, 100%, 45%);
    color: #fff;
    &:hover {
        background-color:   hsl(182, 50%, 75%);
        color: #222;
    }
}

.secondary-reves {
    background-color:   hsl(182, 50%, 75%);
    color: #222;
    &:hover {
        background-color: hsl(182,100%,40%);
        color: #fff;
    }
}

.blue {
    background-color: hsl(197, 58%, 46%);
    color: #fff;
    &:hover {
        color: #222;
        background-color: hsl(180, 50%, 75%);
    }
}


.blue-reves {        
        background-color: hsl(180, 50%, 75%);
        color: #222;
    &:hover {
        background-color: hsl(197, 58%, 46%);
        color: #fff;
    }
}


.light-grey {
    border-top: 1px solid hsl(51, 46%, 78%);
    background-color: hsl(48, 33%, 91%);
}

.warning{
    background-color: #FFEE00;
    color: #222;
    &:hover{
        background-color: hsl(60, 74%, 85%);
    }
}

.warning-reves{
    background-color: hsl(60, 74%, 85%);
    &:hover{
        background-color: #FFEE00;
        color: #222;
    }
}

// .naranja{
//     background-color: #FFEE00;
//     &:hover{
//         border-color: hsl(40, 100%, 50%);
//         color:hsl(20, 100%, 45%); 
//         background-color:  hsla(60, 90%, 70%, 0.5);
//         background-color: hsl(48, 33%, 91%);
//     }
// }

.naranja{
    background-color: #FFEE00; 
    padding:4px .6rem;
    &:hover{
        border-color: hsl(40, 100%, 50%);
        color:hsl(20, 100%, 45%); 
        background-color:  hsla(45, 100%, 50%, 0.2);
    }
}

.red {
    background-color: hsl(6, 90%, 58%); 
    border-color: hsl(6, 90%, 68%) ;
    color: #fff;
    &:hover {
        color: #222;
        background-color: hsl(357, 90%, 58%); 
    }
}

.fucsia {
    background-color: hsla(350, 100%, 50%, 0.397);
    &:hover{
        border-color:hsl(357, 90%, 58%); 
        color:hsl(357, 90%, 38%); 
        background-color: hsla(350, 92%, 74%, 0.397);
    }
}

.danger {
    background-color: #FF0066;
    color: #fff;
    &:hover {
        background-color: hsl(355, 100%, 68%);
        color:#222;
    }
}

.danger-reves{
    background-color: hsl(355, 100%, 68%);
    color:#333;
 &:hover {
        background-color: #FF0066;
        color: #fff;
    }
}


/* =========== MESA =========== */



// .mesa-2{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
// .mesa-3{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
// .mesa-4{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
// .mesa-5{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
// .mesa-6{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
// .mesa-7{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
// .mesa-8{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
// .mesa-9{display:inline-block;margin:24px 30px;background-color: darkcyan;width:calc(100% - 2 * 30px)}
.mesa{background-color: darkcyan}

@media screen and (min-width:320px) and (max-width:640px) {
    .mesa{
        display: block;margin: 10px 7px}
}
@media screen and (min-width:641px) and (max-width:1024px) {
    .mesa{margin: 20px 15px;display: block}
}
@media screen and (min-width:1024px){
    .mesa{margin: 35px 30px;display: block}
}

// .mesa {
  
//   margin: 24px 30px;
//   background-color: darkcyan;
// }

.bt_mesa{
    padding:.5rem 0;
    margin:2px;
    border:2px solid hsl(51, 46%, 78%); 
    border-radius:.2rem;       
    font-family:$f-condensed;
    font-size:1.1rem;
    font-weight:400;
    text-align:center;
}

.bt_mesa:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.falta {
  background-color:#555;
  color: #ffffff;
}

.bt_mesa:hover{
  color: #ffffff;
  background-color:#FF0066; 
  border: 1px solid #ffffff;
  transition: background-color 1s;
}

.propiedad_A {
  background-color: #FFEE00;
  width: calc(50% - 4px );
}

.propiedad_B {
  background-color: #00DFE7;
  width: calc(50% - 4px);
}

.propiedad_A:hover:not(:disabled),
.propiedad_B:hover:not(:disabled).active {
  color: #fff;
  background-color: #FF0066; 

  border: 2px solid #ffffff;
  transition: background-color .5s;
}




/* =========== MODAL =========== */


.modal{
    z-index:3;
    display:none;
    padding-top:0;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:95%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.nomodal{
    z-index:3;
    padding-top:0;
    position:fixed;
    left:0;
    top:2rem;
    width:100%;
    height:100%;
    overflow:auto;
}
.modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  border:1px solid #ddd;
  box-shadow:1px 1px 4px hsla(180, 9%, 26%, 0.8);
  max-width:360px;
}
.animate-zoom {
  animation:animatezoom 0.6s
}
@keyframes animatezoom{
  from{transform:scale(0)} to{transform:scale(1)}
}




/* =========== DETAILS=========== */


details{
    font-family:$f-condensed; 
    background-color:rgba(241, 242, 186, 0.4);
    p{
        margin-left:.25rem;
        font-size:.9rem;
    }    
    summary {
        padding:.4rem;
        border:2px solid hsl(50, 42%, 84%);
        background-color:hsl(60, 74%, 85%);
        cursor:pointer;
    }
    >.destacado {
      background-color:hsl(0, 0%, 30%);
      color:hsl(50, 24%, 95%);
      margin-top:.5rem;
      p {text-align: center;
      font-size:.8rem;}
    }
}


/* ===========  =========== */


a{background-color:transparent}

:after,:before{box-sizing:border-box;border:0 solid #e2e8f0}
*{box-sizing:border-box}
a{color:inherit;text-decoration:inherit}
svg,video{display:block}
video{max-width:100%;height:auto}
.bg-white{--bg-opacity:1;background-color:#fff;background-color:rgba(255,255,255,var(--bg-opacity))}
.bg-gray-100{--bg-opacity:1;background-color:#f7fafc;background-color:rgba(247,250,252,var(--bg-opacity))}
.border-gray-200{--border-opacity:1;border-color:#edf2f7;border-color:rgba(237,242,247,var(--border-opacity))}
            /*  */
.border-t{border-top-width:1px}
.shadow{box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)}
.overflow-hidden{overflow:hidden}



/* =========== DISPLAY FLOAT FLEX GRID =========== */

.f_right{float:right;margin-left:5px}
.f_left{float:left;margin-right:5px}

.hidden{visibility: hidden}

.d_none{display: none}
.d_inline{display: inline-block}
.inline{display: inline}
.d_block{display:block;width:calc(100% - 2*2px)}


.fixed{position:fixed}
.relative{position:relative}
.top-0{top:0}
.right-0{right:0}
.d_topright{position:absolute;right:0;top:0}
.flex{display:flex}
.flex-row{display:flex;flex-direction:row;}
.grid{display:grid}


.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
.grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}
.grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}
.grid-cols-5{grid-template-columns:repeat(5,minmax(0,1fr))}
.grid-cols-2-auto{grid-template-columns:auto auto}
.grid-cols-3-auto{grid-template-columns:auto auto auto}
.grid-cols-4-auto{grid-template-columns:auto auto auto auto}
.grid-cols-5-auto{grid-template-columns:auto auto auto auto auto}
.grid-cols-6-auto{grid-template-columns:auto auto auto auto auto auto}
.grid-cols-7-auto{grid-template-columns:auto auto auto auto auto auto auto}
.grid-cols-8-auto{grid-template-columns:auto auto auto auto auto auto auto auto}
.grid-cols-9-auto{grid-template-columns:auto auto auto auto auto auto auto auto auto}
.grid-cols-3-fr{grid-template-columns:1fr auto auto}
.grid-cols-4-fr{grid-template-columns:1fr auto auto auto}

.items-center{align-items:center}
.justify-center{justify-content:center}
.justify-between{justify-content:space-between}
.justify-right{justify-content:right}
.content-between {align-content:space-between}
.content-around{align-content:space-around}
.self-end{justify-self: end}




/* =========== FONT =========== */


          
.text-sm{font-size:.875rem}
.text-lg{font-size:1.125rem}
.text-6{font-size:1.5rem}
.xlarge{font-size:24px}

.leading-7{line-height:1.75rem}
.text-center{text-align:center}
.font-semibold{font-weight:600}

.underline{text-decoration:underline}

.ejemplo{color:hsl(191,100%,35%);font-family:$f-condensed}


.text-gray-200{--text-opacity:1;color:#edf2f7;color:rgba(237,242,247,var(--text-opacity))}
.text-gray-300{--text-opacity:1;color:#e2e8f0;color:rgba(226,232,240,var(--text-opacity))}
.text-gray-400{--text-opacity:1;color:#cbd5e0;color:rgba(203,213,224,var(--text-opacity))}
.text-gray-500{--text-opacity:1;color:#a0aec0;color:rgba(160,174,192,var(--text-opacity))}
.text-gray-600{--text-opacity:1;color:#718096;color:rgba(113,128,150,var(--text-opacity))}
.text-gray-700{--text-opacity:1;color:#4a5568;color:rgba(74,85,104,var(--text-opacity))}
.text-gray-900{--text-opacity:1;color:#1a202c;color:rgba(26,32,44,var(--text-opacity))}


.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}



/* =========== padding margin =========== */


.mx-auto{margin-left:auto;margin-right:auto}
.m-1{margin:.25rem}
.my-0{margin-top:0;margin-bottom:0}
.ml-1{margin-left:.25rem}
.mr-1{margin-right:.25rem}

.mx-2{margin-left:.5rem;margin-right:.5rem}
.my-2{margin-top:.5rem;margin-bottom:.5rem}                
.mt-2{margin-top:.5rem}
.mb-2{margin-bottom:.5rem}
.ml-2{margin-left:.5rem}
.mr-2{margin-right:.5rem}

.mx-4 {margin-left:1rem;margin-right:1rem}
.my-4{margin-top:1rem;margin-bottom:1rem}
.mt-4{margin-top:1rem}
.mb-4{margin-bottom:1rem}
.ml-4{margin-left:1rem}

.mx-6{margin-left:1.5rem;margin-right:1.5rem}
.my-6{margin-top:1.5rem;margin-bottom:1.5rem}
.mt-6{margin-top:1.5rem}
.mb-6{margin-bottom:1.5rem}

.mx-8{margin-left:2rem;margin-right:2rem}
.my-8{margin-top:2rem;margin-bottom:2rem}
.mt-8{margin-top:2rem}
.mb-8{margin-bottom:2rem}
.ml-8{margin-left:2rem}

.ml-12{margin-left:3rem}
.-mt-px{margin-top:-1px}


.py-0{padding-top:0;padding-bottom:0}
.py-1{padding-top:.25rem;padding-bottom:.25rem}
.py-2{padding-top:.5rem;padding-bottom:.5rem}
.py-3{padding-top:.75rem;padding-bottom:.75rem}
.px-4{padding-left:1rem;padding-right:1rem}
.py-4{padding-top:1rem;padding-bottom:1rem}
.p-6{padding:1.5rem}
.px-6{padding-left:1.5rem;padding-right:1.5rem}
.pt-6{padding-top:1.5rem}
.pt-8{padding-top:2rem}




.min-h-screen{min-height:100vh}

.h-5{height:1.25rem}
.h-6{height:1.5rem}
.h-8{height:2rem}
.h-16{height:4rem}
.h-24{height:6rem}
            
.w-5{width:1.25rem} 
.w-8{width:2rem}
.w-24{width:6rem}
.w-auto{width:auto}
           
.w-10{width:10%}
.w-15{width:15%}
.w-20{width:20%}
.w-30{width:30%}
.w-50{width:50%}
.w-60{width:33%}
.w-70{width:20%}
.w-80{width:15%}
.w-90{width:50%}
.w-100{width:100%}

@media (min-width:420px){
    .sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
}
@media (min-width:640px){
    .sm\:rounded-lg{border-radius:.5rem}
    .sm\:block{display:block}
    .sm\:items-center{align-items:center}
    .sm\:justify-start{justify-content:flex-start}
    .sm\:justify-between{justify-content:space-between}
    .sm\:h-20{height:5rem}
    .sm\:ml-0{margin-left:0}
    .sm\:px-6{padding-left:1.5rem;padding-right:1.5rem}
    .sm\:pt-0{padding-top:0}
    .sm\:text-left{text-align:left}
    .sm\:text-right{text-align:right}
}
@media (min-width:768px){
    .md\:border-t-0{border-top-width:0}
    .md\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}
    .md\:grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}
}
@media (min-width:1024px){
    .lg\:px-8{padding-left:2rem;padding-right:2rem}
}
@media (prefers-color-scheme:dark){
    .dark\:bg-gray-800{--bg-opacity:1;background-color:#2d3748;background-color:rgba(45,55,72,var(--bg-opacity))}
    .dark\:bg-gray-900{--bg-opacity:1;background-color:#1a202c;background-color:rgba(26,32,44,var(--bg-opacity))}
    .dark\:border-gray-700{--border-opacity:1;border-color:#4a5568;border-color:rgba(74,85,104,var(--border-opacity))}
    .dark\:text-white{--text-opacity:1;color:#fff;color:rgba(255,255,255,var(--text-opacity))}
    .dark\:text-gray-400{--text-opacity:1;color:#cbd5e0;color:rgba(203,213,224,var(--text-opacity))}
}


/* =========== Paginación =========== */

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $verde;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color:   #e9ecef;
  text-decoration: none;
  text-shadow: $textShadow;
  background-color:$turquesa;
  transition: background-color  1s;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(153, 205, 50, 0.3);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  text-shadow: $textShadow;
  background-color: $yellowgreen;
  border-color: $yellowgreen;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fafafa;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.7875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.paginacion {
    padding: 1rem 0 2rem 0;
    margin: auto;
}

