
// Variables
@import 'variables';
*{
    margin:0;
    padding:0;
}

html{
    height:100%;
    font-size:16px;
    overflow-y:auto;
    // overflow-x:hidden;
    line-height:1.4;
}

body{
    height:100%;
    margin:0;
    padding:0;
    font-family:$f-sans-serif;
    font-size:1rem;
    color:#444;
    background-color:$bg_base;
    overflow-y:auto;
    overflow-x:hidden;
}


/* =========== app =========== */

// #app {height:100%}

.container{
    margin:auto;
    padding:0;
}

.b-box{box-sizing: border-box}
.c-box{box-sizing: content-box}

// .ssss_aula{height:calc(100% - 2.2rem)}
// .aula-uso{
    // margin-left:1rem;

// }
/* =========== FOOTER =========== */

.footer{
    width:100%;
    height:2.5rem;
    position:absolute;
    top:calc(100% - 2.5rem );
    background-color:$black36;
    z-index:1000;
}
// .noFooter{
//     width:100%;
//     height:0;
//     position:absolute;
//     top:calc(100% );
// }
.page-footer{
    height:2.5rem;
    width:95%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-content:space-between;
    align-items:center;
    text-align:center;
    font-size:1.2rem;
    font-variant: small-caps;
    color:#fafafa;
    a{
    color:hsl(182, 100%, 80%);
        &:hover{
            color:#fafafa;
            transition:1s;
        }
    }
}
@media screen and (min-width:120px) and (max-width:414px) {
    footer .page-footer{
        font-size:.7rem;
        line-height:1.2;
    }
}
@media screen and (min-width:415px) and (max-width:640px) {
    footer .page-footer{
        font-size:.9rem;
    }
}

/* =========== container=========== */

.container,
.container-header{
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  box-sizing:border-box;
}

.row{
  display:flex;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px;
  justify-content:center;
}

// .main{
//     position: relative;
//     top: 0;
// }


/* =========== Tipografía =========== */

h1,
h2,
h3{font-family:$f-condensed}

h2,.h2{
    font-size:1.8rem;
    line-height:112%;
    font-weight:400;
}

h3{
    font-size:1.2rem;
    line-height:120%;
    font-weight:400;
}

h4{
    font-size:1.2rem;
    line-height:120%;
    font-weight:500;
    font-family:$f-sans-serif;
}



kbd{
    border:1px solid #ccc;
    background-color:$yellBrand;
    border-radius:3px;
    padding:0 5px;
    color:#222;
}

ul,li{list-style-type:none}




/* =========== IMAGE =========== */

img{
    width:100%;
    height:auto;
}

figure{margin:0}

figcaption{
    margin:.3rem .2rem 1.6rem .2rem;
    font-size: .8rem;
    text-align: center;
    color:#555555;
}
 

/* =========== links =========== */

a,
a:not(.boton),
a:not(.btn){
    text-decoration:none;
    &:hover{cursor:pointer;transition:color 1s}
}

/* =========== HEADER =========== */

.main-header{
    position:sticky;
    width:100%;
    top:0;
    background-color:$black36;
    z-index:1}

hr{color:#555;background-color:#555}

.clase-header{
    height:2.5rem;
    color:#333;
    clear:both}

.main-header>.container{
    padding-right:0;
    padding-left:0;
    margin-right:2rem;
    margin-left:2rem}

@media screen and (min-width:769px){
    .page-header{
        height:5rem;
        margin:0 0 2rem 0}
}
/* =========== MENÚ-principal =========== */

@media screen and (min-width:769px){
.logo{
    position:absolute;
    top:.5rem;
        > a > svg{
            border-radius:100%;
            width:7.5rem;
            height:7.5rem;
            border:.5rem solid $bg_base;
            &:hover{border:.25rem solid $bg_base}
        }
    }
}

.main-menu{
    position:absolute;
    top:2.7rem;
    margin-left:9rem;
    .nav-sub{
        padding:.5rem 1rem .5rem 0;
        font-family:$f-condensed;  
        font-size:1.4rem;
        height:1.6em;
        color:#222;
        &:hover{
            color:$azulBrand;
            transition:.5s}
    }
    .active{color:$azulBrand}
    .navbar-brand{
        font-family:$f-sans-serif;
        font-size:2.6rem;
        font-weight:600;
        &.active{
            color:$yellBrand;
            &:hover{
                color:$cyanBrand;
                transition:.5s}
        }
    }
}

.logoMenu #mesaUno:hover{fill:$cyanBrand}



/* ===========- MENÚ USER =========== */


.dropdown{position:relative}
.dropdown-menu {
    position:absolute;
    top:100%;
    right:-1rem;
    z-index:1000;
    display:none;
    // float:left;
    min-width:12rem;
    padding:0.8rem;
}

.menu-user{
    position:relative;
    top:2rem;
    float:right; /*se posiciona*/
    display:flex;/*en UNA línea*/
    .user-link{
        padding:0 .6rem;
        font-size:1.2rem;        
        letter-spacing:0.423;
        font-variant:small-caps;
        color:#fafafa;
        &:hover{color:$cyanBrand}
    }
    > .nav-item > .show{
        display:flex;
        flex-direction:column;
        padding:0}
    > .nav-item > .dropdown-menu{
        top:2rem;
        padding:0 .2rem;        
        border:1px solid #ccc;        
        background-color:$body-bg;
        .dropdown-item{
            display:block;
            width:calc(100% - 2*2px);
            margin:2px;
            padding:.25rem 1.5rem;
            border-radius:3px;
            font-size: 1.1rem;
            font-variant:small-caps;
            text-align: center}
    }
    .hide-menu{ display:none}
}

/* ===========  MENÚ @media 550px ===============*/

@media (max-width:550px){
    .page-header{
        height:1.6rem;
        margin-bottom: 1.4rem}
    .container-header{
        padding-left:.25rem;
        padding-right:.25rem}

    .menuUso{
        position:relative;
        margin-top:-.4rem; 
        .nav-sub{
            font-size:1rem;
            color:#363636;
            margin-bottom: .5rem;
            &:hover{color:$azulBrand}
        }
        .active{color:$azulBrand}
    }

    .logo{
        position:absolute;
        top:0.1rem;
        margin-left:.45rem;   
        > a > svg{
            border-radius:100%;
            width: 2.7em;
            height:2.7rem;
            border:.25rem solid $bg_base;
            &:hover{border:.15rem solid $bg_base}
        }
    }

    // main-menu
    .main-menu{
        top:-.3rem; 
        margin-left:3.6rem;
        .navbar-brand{font-size:1.5rem}
    }
   
    .menu-user{
        max-width:12rem;
        right:.8rem;
        top:-.75rem;
        .user-link{font-size:1rem}
    }   
    .dropdown-menu{margin-top:-.5rem} 
}
.active{color:$azulBrand}


/* ===========  MENÚ @media 768px ===============*/

@media screen and (min-width:551px) and (max-width:768px){
    .page-header{
        height:2.6rem;
        margin-bottom:1.7rem}
    .container-header{
        padding-left:.25rem;
        padding-right:.25rem}
    .logo{
        position:absolute;
        top:.25rem;
        margin-left:.65rem;    
        > a > svg{
            border-radius:100%;
            width:4rem;
            height:4rem;
            border:.35rem solid $bg_base;
            &:hover{border:.15rem solid $bg_base}
        }
    }

    // main-menu
    .main-menu{
        top:.4rem;
        margin-left:6rem;
        .navbar-brand{font-size:1.8rem}
    }
    .menuUso{
        position:relative;
        margin-top:-.15rem; 
        .nav-sub{
            font-size:1.3rem;
            padding:.5rem 1rem 1rem 0;
            color:#363636;
            height:1.6;
            &:hover{color:$azulBrand}
        }
        .active{color:$azulBrand}
    } 
    .menu-user{
        max-width:12rem;
        right:.8rem;
        top:-.2rem}   
    .dropdown-menu{margin-top:-.4rem} 
}

/* ===========  MENÚ BOTONES ===========*/
.menu-botones{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    .items-menu-botones{
        display:block;
        align-content: center;
        padding:.25rem 1rem;
        margin:.15rem;
        font-variant: small-caps;
        text-align: center}
}
@media screen and (max-width:550px){
    .menu-botones{
        display:flex;
        flex-direction:column;
        font-size: 1rem;
        .items-menu-botones{
            width:100%;
        }
    }
}
 .encabezamiento{
        box-shadow: $boxShadow;
        background-color: $azulBrand;
        margin-bottom:.5rem;
        .h1{
            color:#fafafa;
            font-family: $f-sans-serif;
            text-align: center;
            font-variant: small-caps;
            letter-spacing: .09em;
        }
    }

/* =========== ALERTS =========== */

.alert {
    position:relative;
    max-width:960px;
    padding:.5rem 1.25rem;
    border:2px solid transparent;
    box-sizing:border-box}

.alert-info{
    top:.8rem;
    color:#333;
    background-color:$continuar;
    box-shadow:$boxShadow;
    margin:auto}




/* =========== BUTTONS =========== */


button{border:2px solid transparent}

button.btn,
button,
a.btn,
.btn,
.boton{
    margin:2px;
    // padding:3px .6rem;
    border-radius:3px;
    border-width: 2px;
    font-family:$f-sans-serif;
    font-size:1.1rem;
    text-align:center;
    box-sizing:border-box;
    cursor:pointer}

.btn{
    display:inline-block;
    text-decoration:none;
    // padding:0 .6rem 2rem .6rem;
    // overflow:hidden;
    // white-space:nowrap;
    color:inherit}

.bt_pasos{
    height:6rem;
    border:2px solid $c_brd78;     
    display:grid;
    justify-content:center;
    align-content:center;
    align-items:center;
    text-align:center;
    font-variant: small-caps;
    font-size:1.2rem;
    > .ico-shadow{font-size:2rem}
}
.tx-btn{
   color:hsl(192, 60%, 40%);
   font-family:$f-condensed;
   &:hover{background-color:$inputFoc}
}

.bt_pasos:hover,button:hover,
a.btn:hover,button.btn:hover,
.boton:hover{transition:background-color .3s,color .1s}

.bt_xxl{
    display:block;
    width:100%;
    margin:1rem 0;
    height:2.4rem}
.disabled,
.disabled:hover{
    background-color:#cfcfcf;
    color:#fff;
    cursor:not-allowed}

.boton:disabled,
.boton.disabled{
    background-color:hsla(182, 40%, 70%,0.4);
    border:2px solid $c_brd78;
    cursor:not-allowed;
    &:hover{cursor:not-allowed;
        background-color:rgba(148, 207, 209, 0.4)}
}


.continuar{
    border:2px solid $c_az190;
    background-color:$continuar;
    color:#333;
    &:hover{
        border:2px solid $c_brd40; 
        background-color:$azulBrand;
        color:#fff}
}

.atras {
    border:2px solid $c_az190;
    background-color:$bg_base;
    color:#333; 
    &:hover {
        border:2px solid $c_brd40; 
         background-color:$azulBrand;
        color:#fff
        }
}

.crear {
    border:2px solid $c_brd40;
    background-color:$c_az190;
    color:#fff;
    &:hover{ 
        border-color:$azulBrand;
        background-color:$bg_base;
        color:$azulBrand}
}

.editar {
    border:2px solid $c_brd50;
    border-radius:3px;
    background-color:$yellBrand; 
    color:#222;
    &:hover{
        border-color:$c_brd68; 
        background-color:$bg_base;
        color:$c_brd20}
}

.warning{
    border:2px solid $c_brd50; 
    background-color:$mostaza;
    color:hsl(60, 71%, 20%);
    &:hover{
        border-color: $c_brd78; 
        background-color: $yellBrand; 
        color: #222}
}

.ver{
    border:2px solid $c_brd40;
    border-radius:3px;
    background-color: $c_az190;
    color: #fff;
    &:hover{
        border-color:$c_az190; 
        background-color: $bg_base;
        color:$c_az190}
}

.bg-ver{background-color:$c_az190;
    color:#fff;
        &:hover{
        border-color:$c_az190; 
        background-color: $fondo;
        color:$black36}
}

.crearCurso {
    border:2px solid $azulBrand;
    background-color:$crearCrso;
;
    color: #fff;
    font-variant: small-caps;
    &:hover {
        background-color:$azulHielo;
        color: #222}
}

.enviar {
    border:2px solid $c_brd68; 
    background-color: $azulBrand;
    font-variant: small-caps;
    color: #fff;
    &:hover {
        border-color:$c_brd50;
        background-color: $azulHielo;
        color: #222}
}

.borrar {
    border:2px solid $c_brd50; 
    background-color: hsl(350, 100%, 80%);
    color: #222;
    &:hover{
        border:2px solid hsl(340, 100%, 65%);
        background-color: $bg_base;
        color: hsl(340, 100%, 65%)}
}

.borrarLarge{
    border:2px solid   $c_az190;
    background-color: hsl(340, 100%, 65%);
    font-variant: small-caps;
    color:#000;
    &:hover{
        border-color:#717171;
        background-color: #ff0066;
        color: #fff
        }
}

.cancelar{
    border:2px solid $c_brd68;
    border-radius: 3px;
    background-color:$fucsBrand;
    // background-color: #ff4d88;  
    color:#fff;
    padding:.25rem 1.5rem;
    &:hover{
        border-color:$c_brd50;
        background-color: hsl(350, 100%, 80%);
        color: #222}
}

div.cancelar{
    margin-top:1rem;
}
.enviar,.cancelar{
    font-weight:500;
    font-size:1.2rem;
}

.oscuro{
    border:2px solid $c_brd78; 
    background-color:#494949;
    color:#e5feff;
    &:hover {border: 2px solid#717171;
        background-color:$crearCrso;
        color: #222}
}

.oscuro.disabled,
.oscuro:disabled{
    opacity:.4;
    &:hover{
    border:2px solid $c_brd78; 
    background-color:#494949;
    color:#99fcff}
}

.oscuro-reves{
    border:2px solid #958737; 
    background-color:$bg_base;
    color:#222;
    &:hover{
        border:2px solid $c_brd78; 
        background-color:rgb(73, 73, 73);
        color:#fafafa}
}

.light-grey {
    border-top: 2px solid $c_brd78;
    background-color: hsl(49, 35%, 91%);
}

.default{
    border-color: $c_az190;
    background-color: $continuar;
    color:#333;
    &:hover{
        background-color:$azulBrand;
        color:#fff}
}

.border-ccc{border:2px solid $c_brd78}


/* =========== caja =========== */

.caja{
    margin:1rem auto;
    max-width:960px;
    border:1px solid #ccc;
    border-radius:2px;
    background-color:$caja-bg;
    box-shadow:1px 1px 4px hsla(0, 0%, 0%, 0.4)}

.caja-header.btn,
.caja-header button.btn,
.caja-header a.btn,
.caja-header.boton{box-sizing:border-box}

.caja-grid{
    border:2px solid $c_brd78;
    background-color: $cajaGrid;
    padding-bottom:1.5rem; 
    padding-top:1.5rem;
    margin-bottom:1rem}

.circle{border-radius: 50%}
.ashadow{box-shadow:$boxShadow}



/* =========== Container  =========== */

@media screen and (min-width:20px) and (max-width:640px){
    .container{
        max-width:100%;
        padding-right:0;
        padding-left:0}
    .caja{
        margin-right:0;
        margin-left:0}
    .caja-body{padding:.5rem .3rem .8rem .3rem}
    .caja-header{padding:.1rem .5rem}
    .caja-header.btn,
    .caja-header select,
    .caja-header button.btn,
    .caja-header a.btn,
    .caja-header.boton{height:1.8rem;padding-right:.25rem;padding-left:.25rem;min-width:1.9rem;font-size:.9rem}
    .caja-header select,option{font-size:.8rem; padding-right:0}
    .caja-header>.grid>a.btn{padding-top:1px}
    .pasos-title-1,.title {font-size:1.1rem}
    html {font-size:14px}
    .alert,.alert-info{font-size:.9rem; font-family: $f-condensed;}
    .caja-header select{
        padding-top:2px;padding-bottom:3px}
    .caja-header select  option{
        height: 1.8rem;
        margin-top:0;
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0
    }
}
@media screen and (min-width:20px) and (max-width:414px) {
    .caja-body{padding-right:3px;padding-left:3px} 
}
@media screen and (min-width:641px) and (max-width:768px){
    .container{max-width:95%;margin:auto}
    .alert{padding-right:1.5rem;padding-left:1.5rem}
    .caja .pasos-title-1{font-size:3.5rem}    
    .caja-body{padding:.5rem 1.5rem}
    .caja-header{padding:.5rem 1.5rem .4rem 1.5rem;
        h2{font-size:1.4rem}
    }
    .caja-header.btn,
    .caja-header select,
    .caja-header a.btn,
    .caja-header form> button,
    // .caja-header.boton{height:2rem;padding:2px .8rem;font-size:.9rem}
    .caja-header.boton{height:2rem;padding-right:.8rem;padding-left:.8rem;font-size: .9rem}
    .caja-header select{
        padding-top:3px;padding-bottom:3px;
        font-size:.9rem}
    .caja-header select  option{
        height: 2rem;
        line-height: 2rem;
        margin-top:3px;
        margin-bottom:-3px;
        padding-top:3px;
        padding-bottom:0
    }
    .caja-header>.grid>a>p{margin-top:1px}
    .caja-header>.grid>a.btn{padding-top:2px}
    html{font-size:16px}
}

@media screen and (min-width:769px) and (max-width:1200px){
    .container{max-width:90%}
    .alert{padding-right:2.5rem;padding-left: 2.5rem}
    .caja-body{padding:1.25rem 2.5rem}
    .caja-header{padding:.75rem 2.5rem;
        h2{font-size:1.6rem}
    }
    .caja-header.btn,
    .caja-header select,
    .caja-header a.btn,
    .caja-header button,
    .caja-header.boton{height:2.2rem;padding-right:1rem;padding-left:1rem}
    // .caja-header.boton{height:2.2rem;padding:2px 1rem}
    .caja-header>.grid>a>p{margin-top:-2px}
    .caja-header>.grid>a.btn{padding-top:5px}
    
    html{font-size:16px}
}

@media screen and (min-width:1201px){
    .container,
    .container-header{max-width:1280px}
    .alert{padding-right:4.5rem;padding-left:4.5rem}
    .caja-body{padding:1.25rem 4.5rem}
    .caja-header{padding:.75rem 4.5rem}
    .caja-header.btn,
    .caja-header select,
    .caja-header a.btn,
    .caja-header button,
    // .caja-header.boton{height:2.2rem;padding:2px 1rem}
    .caja-header.boton{height:2.2rem;padding-right:1rem;padding-left:1rem}
    .caja-header>.grid>a>p{margin-top:-2px}
    .caja-header>.grid>a.btn{padding-top:5px}
}


/* =========== TABLE =========== */


.tabla{
    width:100%;
    table-layout:auto;
    padding:1rem .5rem;
    border:2px solid $c_brd84;
    text-align:center;
    font-family:$f-condensed;
    caption-side:bottom;
    background-color:#fff;
    caption{
      margin-top:1rem;
      padding:.7rem;
      border:2px solid $c_brd84;
      border-radius:4px;
      color:#333;
      background-color:hsl(55, 100%, 74%)}
}
        

.tabla.boton,
.tabla .btn,
.tabla .a,.tabla .boton,
.tabla button{
    font-family:$f-condensed;
    font-variant:small-caps;
    font-size:1rem;
    height:2rem;
    padding:3px;
    box-sizing:border-box;
}

.tabla> thead>tr> th{
    font-size:1.2rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis}

.tabla td{
    border-bottom:2px solid #ddd;
    // display:inline-flex
    // vertical-align:middle
}
.tabla .ver>span{font-family:$f-condensed}

table th{
    border-bottom:2px solid $azulBrand;
    font-family:$f-condensed;
    font-weight:300;
    font-variant:small-caps;
    color:$azulBrand}

tbody > tr > td > form {margin-bottom:0; display:inline-block}

/* =========== TABLE @media 640px =========== */

@media screen and (max-width:640px){
    .tabla>thead>tr>th{font-size:1rem}
    .tabla .id{
        visibility:hidden;
        max-width:.01rem; 
        margin-right:0}
    .tabla td{
        padding-right:0;
        text-align:center;
        >a span,
        >.btn,
        >form>button>span{
            // height:2rem;
            // padding-left:2px;padding-right:2px;
            font-size:.8rem;
            // text-overflow:ellipsis
            }
        > p >span{
            font-size:.8rem; 
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            font-variant:small-caps}
    }
}
@media screen and (max-width:359px){
    .tabla{
        font-size:.7rem;
        >caption{font-size:.8rem}
        table>*{
            overflow:hidden;
        white-space:nowrap;text-overflow:ellipsis}
    }
}
@media screen and (max-width:414px){
    .tabla{
        font-size:.8rem;
        margin-right:0;margin-left:0;
        padding-right:0;padding-left:0;
        >caption{
        font-size:.9rem;
        margin-right:0;
        margin-left:0;
        padding-right:3px;
        padding-left:3px}
        >thead>tr>th{font-size:.9rem;white-space:nowrap;
        overflow:hidden;text-overflow:ellipsis}
    }
}

@media screen and (min-width:415px) and (max-width:640px){
    .tabla{
        font-size:.9rem;
        margin-right:3px;
        margin-left:3px;
        padding-right:4px;
        padding-left:4px}
}

@media screen and (min-width:641px){
    .tabla{
        font-size:1rem;
        padding-right:.5rem;
        padding-left:.5rem}
    table td{font-size:1rem}
}

/* =========== TABLE @media botones =========== */

@media screen and (max-width:414px) {
    .tabla .btn,
    .tabla a.btn,
    .tabla form button{width:3.2rem;height:1.7rem}
    td > p >span{max-width:4rem}
    tr>td>.editar,tr>td>form>.borrar,
    tr>td>.ver{height:1.7rem;margin-top:.25rem;margin-bottom:.25rem}
}

@media screen and (min-width:415px) and (max-width:640px) {
    .tabla .btn,
    .tabla a.btn,
    .tabla form button{width:4rem;height:1.8rem}
    td > p >span{max-width:4rem}
    tr>td>.editar,tr>td>form>.borrar,
    tr>td>.ver{height:1.8rem;margin-top:.25rem;margin-bottom:.25rem}
}

@media screen and (min-width:641px) and (max-width:768px) {
    .tabla .btn,
    .tabla a.btn,
    .tabla form button{width:5.1rem;height:2rem}
    td > p >span{max-width:5.1rem}
    tr>td>.editar,tr>td>form>.borrar,
    tr>td>.ver{height:2rem;margin-top:.25rem;margin-bottom:.25rem}
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .tabla .btn,
    .tabla a.btn,
    .tabla form button{width:6rem;height:2rem}
    td > p >span{max-width:6rem}
    tr>td>.editar,tr>td>form>.borrar,
    tr>td>.ver{height:2rem;margin-top:.25rem;margin-bottom:.25rem}
}

@media screen and (min-width:1025px) {
    .tabla .btn,
    .tabla a.btn,
    .tabla form button{width:6rem;height:2rem}
    td > p >span{max-width:6rem}
    tr>td>.editar,tr>td>form>.borrar,
        tr>td>.ver{height:2rem;margin-top:.25rem;margin-bottom:.25rem}

}
#tabla-config-horario .editar,
#tabla-config-horario .crear{
    height:4rem;
    margin:3px;
    // display:flex;
    // justify-content: center;
    // align-items: center;
}
#tabla-config-sesion .editar{
    width:80%;
    height:2rem;margin:3px;
    font-size:1.2rem;
    }

.table-responsive{
    width:100%;
    table-layout:auto;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch}


/* =========== INPUT-FORM =========== */


select,
input,
textarea,
input[type=time]{
    padding:.5rem;
    border:2px solid $c_brd68;
    border-radius: 3px;
    margin-top:.2rem;
    color:#363636;
    background-color:hsl(48, 24%, 96%)}
select{
    font-size:.7rem;
}
select:focus,
input:focus,
textarea:focus,
input[type=text]:focus{
    background-color:$inputFoc;
    border-color:$azulBrand;
    outline:none}

input[type=number]{max-width:4rem}

label{font-family:$f-condensed;color:#222}

select{margin-top:-1px}



/* =========== ETAPA-USO HEADER =========== */

.bt-clase-header{
    height:2rem;
    min-width:2.5rem;    
    margin:3px;
    padding:.2rem 1rem .25rem 1rem;
    border:2px solid $azulBrand;
    border-radius:3px;
    text-align:center;
    font-family:$f-condensed;
    font-variant:small-caps;
    // overflow:hidden;
    // white-space:nowrap;
    // text-overflow:ellipsis;
    box-sizing: border-box}

.reloj{margin-left:1rem;margin-right:.5rem;font-size:1.25rem}

@media screen and (max-width:640px){
    .bt-clase-header{
        padding:.3rem .4rem .25rem .4rem;
        margin-left:.25rem}
    .reloj{
        margin-left:.4rem;margin-right:.4rem;
        font-size:1rem;
        }
}
@media screen and (max-width:640px){
    .header-uso{font-size:.9rem}
}

/* =========== MESA/BT_MESA =========== */
.aula-mesa{
    grid-gap: 10px 10px;
}
.mesa{
    background-color:hsl(53, 27%, 94%);
    border:1px solid #ccc;
    margin:5px;
    margin:auto}

.nombre_mesa{
    text-align:center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
    color:#333;
    background-color:hsl(0, 0%, 91%)}

.bt_mesa{
    margin-top:3px;
    margin:2px;
    padding:.5rem 0;
    border: 1px solid #ccc;
    border-radius:.2rem;       
    font-family:$f-condensed;
    font-size:1.1rem;
    font-weight:400;
    text-align:center}

.bt_mesaIzq{
    width:calc(50% - 5px);
    margin-left:3px}

.bt_mesaDcha{
    width:calc(50% - 5px);
    margin-right:3px}

.nombre_mesa:not(:disabled):hover{
    background-color:#888;
    color:#fff;
    transition:background-color .3s,color .15s}

.bt_mesa:disabled,
.nombre_mesa:disabled {
  opacity:0.2;
  cursor:not-allowed}

.bt90x90{
    width:90px;
    height:90px;
    text-align:center;
    border:2px  solid $c_brd50;
    background-color:darkgray;

}
.plantilla-bt{
    margin:.25rem .25rem .5rem .25rem;
    border:1px solid #ddd;
    
    box-shadow:0px 1px 4px 0px rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,.06)
}
.no_border{border:0 solid }
.resultado-bt{
    height: 3rem;
    margin-bottom:.25rem;
    padding-top:.25rem;
    padding-bottom:.25rem;
    border:2px  solid $c_brd50;
    // text-align:left;
    // padding-left: .5rem;
    background-color:$continuar;
    color:#363636
}
.plantilla-body{ 
    margin: auto;
    border:2px solid $c_brd68;
    display:block;
    width:calc(100% - 2*2px);
    display:grid;
    grid-template-columns:repeat(1,minmax(0,1fr)) ;
    align-items: center;
    justify-content: center;
    background-color:  #eceadf;
}
.plantilla-footer{
    margin:.25rem;
    padding:.75rem 1.5rem;font-family: $f-condensed;
    color:#fff;
    background-color:$azulBrand;;
}

@media screen and (orientation: landscape){
    .mesa{      
        flex-direction:column;
        justify-content: center;   
        .bt_mesa{width:calc(50% - 5px)}
    }
}

@media screen and (orientation: portrait){
    .mesa{      
        flex-direction:row;
        justify-content: center;
        align-content: center;
        .bt_mesa{width:calc(100% - 6px);
        margin: 2px 3px;
        padding:.7rem 0}
    }
}
@media screen and (max-width:360px) and(orientation: landscape){
    .mesa{      
        width:4rem;
        height:3.5rem;
        .nombre_mesa{font-size:.8rem}
    }
}
@media screen and (max-width:360px) and(orientation: portrait){
    .mesa{      
        width:3.7rem;
        height:7rem;
        .nombre_mesa{font-size:.8rem}
        }
}
@media screen and (min-width:361px) and (max-width:412px)and(orientation: portrait){
    .mesa{     
        width:4rem; 
        height: 7.5rem;
        >div>.nombre_mesa{font-size:.8rem}
        }
}
@media screen and (min-width:413px) and (max-width:640px) and(orientation: portrait){
    .mesa{      
        width:4.5rem;
        height:8rem;
        >div>.nombre_mesa{font-size:.8rem}
    }
}
@media screen and (min-width:413px) and (max-width:640px) and(orientation: landscape){
    .mesa{      
        width:5.5rem;
        height:4.3rem;
        >div>.nombre_mesa{font-size:.8rem}
    }
}

@media screen and (min-width:641px) and (max-width:768px) and(orientation: portrait){
    .mesa{
        width:6rem;height:8rem;
        >div>.nombre_mesa{font-size:.9rem}
    }
}
@media screen and (min-width:641px) and (max-width:768px) and(orientation: landscape){
    .mesa{
        width:6rem;height:5rem;
        >div>.nombre_mesa{font-size:.9rem}
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .mesa{      
        width:8rem;
        max-height:5rem}
}

@media screen and (min-width:1025px){
    .mesa{width:12rem;max-height:5.5rem}
}
@media screen and (max-width:412px){
    .bt_mesa,.nombre_mesa{
        font-size:.8rem;
        padding-left:2px;
        padding-right:2px;
        margin:1px}
}

@media screen and (max-width:412px){
    .bt_mesaIzq{width:calc(50% - 3px);margin-left:1px}
    .bt_mesaDcha{width:calc(50% - 3px);margin-right:1px}
}

/* =========== MODAL =========== */

.modal,
.nomodal{
    z-index:3;
    padding-top:0;
    position:fixed;
    left:0;
    top:1rem;
    width:100%;
    height:calc(100% - 3.5rem);
    overflow:auto;
}
.modal{
    display:none;
    background-color:rgba(0,0,0,0.2)
}

.modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  border:1px solid #ddd;
  box-shadow:1px 1px 4px hsla(180, 9%, 26%, 0.8);
  max-width:360px;
  h3{
      font-size:1.5rem;
      color:hsl(197, 58%, 46%);
  }
}
.animate-zoom{animation:animatezoom 0.6s}
@keyframes animatezoom{
  from{transform:scale(0)} to{transform:scale(1)}
}



/* =========== DETAILS/SUMMARY =========== */


details{
    font-family:$f-condensed; 
    background-color:$details;
    p{
        margin-left:.25rem;
        font-size:.9rem
    }    
    summary{
        padding:.4rem;
        border:2px solid $c_brd84;
        background-color:$mostaza;
        cursor:pointer
    }
    >.destacado{
        background-color:hsl(0, 0%, 30%);
        color:hsl(50, 23%, 95%);
        margin-top:.5rem;
        padding:.5rem;
        p{font-size:.8rem}
    }
}


/* ===========  =========== */


// a{background-color:transparent}

// :after,:before{box-sizing:border-box;border:0 solid #e2e8f0}
*{box-sizing:border-box}
a{color:inherit;text-decoration:inherit}
img{display:block}
img{max-width:100%;height:auto}

.border-gray-200{border-color:rgb(237, 237, 237)}
.border-t{border-top-width:1px}
.shadow{box-shadow:0px 1px 4px 0px rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,.06)}
.overflow-hidden{overflow:hidden}



/* =========== DISPLAY FLOAT POSITION =========== */

.f_right{float:right}
.f_left{float:left}

.hidden{visibility:hidden}

.d_none{display:none}
.d_inline{display:inline-block}
.inline{display:inline}
.block{display:block}
.d_block{display:block;width:calc(100% - 2*2px); margin: auto}


.fixed{position:fixed}
.relative{position:relative}
.top-0{top:0}
.right-0{right:0}
.d_topright{position:absolute;right:0;top:0}


/* =========== DISPLAY FLEX GRID =========== */


.flex{display:flex}
.flex-row{display:flex;flex-direction:row;}
.flex-column{display:flex;flex-direction:column;}
.grid{display:grid}
.grd{display:grid}

.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
.grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}
.grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}
.grid-cols-5{grid-template-columns:repeat(5,minmax(0,1fr))}
.grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr))}
.grid-cols-7{grid-template-columns:repeat(7,minmax(0,1fr))}
.grid-cols-8{grid-template-columns:repeat(8,minmax(0,1fr))}

.grid-cols-2-auto{grid-template-columns:auto auto}
.grid-cols-3-auto{grid-template-columns:auto auto auto}
.grid-cols-4-auto{grid-template-columns:auto auto auto auto}
.grid-cols-5-auto{grid-template-columns:auto auto auto auto auto}
.grid-cols-6-auto{grid-template-columns:auto auto auto auto auto auto}
.grid-cols-7-auto{grid-template-columns:auto auto auto auto auto auto auto}
.grid-cols-8-auto{grid-template-columns:auto auto auto auto auto auto auto auto}
.grid-cols-9-auto{grid-template-columns:auto auto auto auto auto auto auto auto auto}
.grid-cols-3-fr{grid-template-columns:1fr auto auto}
.grid-cols-4-fr{grid-template-columns:1fr auto auto auto}
.grid-cols-5-fr{grid-template-columns:1fr auto auto auto auto}
.grid-cols4{grid-template-columns:1fr auto auto auto}

.grid-rows-1{grid-template-rows:repeat(1,100%)}
.grid-rows-2{grid-template-rows:repeat(2, 50%)}
.grid-rows-3{grid-template-rows:repeat(3, 33%)}
.grid-rows-4{grid-template-rows:repeat(4, 25%)}
.grid-rows-5{grid-template-rows:repeat(5, 20%)}



.items-center{align-items:center}
.items-end{align-items:flex-end}
.justify-center{justify-content:center}
.justify-end{justify-content:end}
.justify-between{justify-content:space-between}
.justify-right{justify-content:right}
.content-between {align-content:space-between}
.content-around{align-content:space-around}
.content-center{align-content: center}
.self-end{align-self:end}






/* =========== COLORS =========== */

.bg-yellow{
    background-color:$yellBrand;
    :hover{background-color:hsl(180, 67%, 80%)}
}
.bg-sky{background-color:hsl(180, 100%, 47%); color:#333}
.bg-blue{background-color:hsl(180, 67%, 80%)}
.bg-gradual1{background-color:hsl(180, 90%, 89%)}
.bg-gradual2{background-color:hsl(180, 100%, 80%)}
.bg-gradual3{background-color:hsl(180, 100%, 65%)}
.bg-gradual4{background-color:hsl(180, 100%, 50%)}
.bg-gradual5{background-color:hsl(190, 90%, 55%)}
.bg-gradual6{background-color:hsl(190, 100%, 40%); color:#ffffff}
.bg-azul-kc{background-color:$azulBrand}
.bg-fucsia{background-color:hsl(336, 100%, 50%)}
.bg-amarillo{background-color: $yellBrand}
.bg-beige{background-color: hsl(51, 25%, 90%);}
.bg-mostaza{background-color:hsl(60, 74%, 85%)}
.bg-marfil{background-color:hsl(63, 70%, 94%)}
.bg-666{background-color: #666}
.bg-36{background-color: #363636;color:#fff}
.sino{background-color:#2c2c2c;color:#fff}
.bg-white{background-color:#fff}
.bg-gray-100{background-color:hsl(0, 0%, 97%)}
.bg-transparent{background-color:#00000000}

.text-white{color:#ffffff}
.text-black{color:#000000}
.text-gray-200{color:#ededed}
.text-gray-300{color:#e2e2e2}
.text-gray-400{color:#cbcbcb}
.text-gray-500{color:#a0a0a0}
.text-gray-600{color:#717171}
.text-gray-700{color:#4a4a4a}
.text-gray-900{color:#363636}
.text-blue-40{color:$azulBrand}
.text-blue-30{color:#00a3cc}


.relojEnorme{
    font-size:12vw;
    color:#f8f7f1;
    text-shadow:1px 1px 8px #000}

.marcoReloj{
    width:80%;
    margin:auto;
    padding-top:4rem;
    padding-bottom:4rem;
    background-color:$c_az190;
    border:8px solid hsl(40, 20%, 97%);
    border-radius: .5rem;
    box-shadow: 1px 1px 8px rgba(0, 58, 65, .85)}


/* =========== MARGIN =========== */


.mx-auto{margin-left:auto;margin-right:auto}
.-mt-px{margin-top:-1px}

.mt--1{margin-top:-3px}
.mt--03{margin-top:-3px}
.m-1{margin:.25rem}

.mt-0{margin-top:0}
.my-0{margin-top:0;margin-bottom:0}

.mx-1{margin-left:.25rem;margin-right:.25rem}
.mt-1{margin-top:.25rem}
.mb-1{margin-bottom:.25rem}
.ml-1{margin-left:.25rem}
.mr-1{margin-right:.25rem}

.mx-2{margin-left:.5rem;margin-right:.5rem}
.my-2{margin-top:.5rem;margin-bottom:.5rem}                
.mt-2{margin-top:.5rem}
.mb-2{margin-bottom:.5rem}
.ml-2{margin-left:.5rem}
.mr-2{margin-right:.5rem}

.mx-4{margin-left:1rem;margin-right:1rem}
.my-4{margin-top:1rem;margin-bottom:1rem}
.mt-4{margin-top:1rem}
.mb-4{margin-bottom:1rem}
.ml-4{margin-left:1rem}
.mr-4{margin-right:1rem}

.mx-6{margin-left:1.5rem;margin-right:1.5rem}
.my-6{margin-top:1.5rem;margin-bottom:1.5rem}
.mt-6{margin-top:1.5rem}
.mb-6{margin-bottom:1.5rem}

.mx-8{margin-left:2rem;margin-right:2rem}
.my-8{margin-top:2rem;margin-bottom:2rem}
.mt-8{margin-top:2rem}
.mb-8{margin-bottom:2rem}
.ml-8{margin-left:2rem}

.ml-12{margin-left:3rem}



/* =========== PADDING =========== */


.py-0{padding-top:0;padding-bottom:0}
.pt-03{padding-top:3px}
.pt-02{padding-top:2px}
.pb-03{padding-bottom:6px}
.p-1{padding:.25rem}
.py-1{padding-top:.25rem;padding-bottom:.25rem}
.p-2{padding:.5rem}
.px-2{padding-left:.5rem;padding-right:.5rem;}
.pr-2{padding-right:.5rem}
.py-2{padding-top:.5rem;padding-bottom:.5rem}
.pb-2{padding-bottom:.5rem}
.py-3{padding-top:.75rem;padding-bottom:.75rem}
.p-4{padding:1rem}
.px-4{padding-left:1rem;padding-right:1rem}
.py-4{padding-top:1rem;padding-bottom:1rem}
.pt-4{padding-top:1rem}
.p-6{padding:1.5rem}
.px-6{padding-left:1.5rem;padding-right:1.5rem}
.pt-6{padding-top:1.5rem}
.pt-8{padding-top:2rem}
.px-8{padding-left:2em;padding-right:2rem}


/* =========== SIZE =========== */


.min-h-screen{min-height:100vh}
.h-2{height:.5rem}
.h-5{height:1.25rem}
.h-6{height:1.5rem}
.h-8{height:2rem}
.h-12{height:2.5rem}
.h-16{height:4rem}
.h-24{height:6rem}
.h-90{height:calc(100% - 3rem)}
.h-100{height:100%}


.w-5{width:1.25rem} 
.w-8{width:2rem}
.w-24{width:6rem}
.w-auto{width:auto}
           
.w-10{width:10%}
.w-15{width:15%}
.w-20{width:20%}
.w-30{width:30%}
.w-50{width:50%}
.w-60{width:33%}
.w-70{width:70%}
.w-80{width:15%}
.w-90{width:50%}
.w-100{width:100%}

.informacion{
    font-size: .9rem;
}
/* =========== Medias =========== */

@media(min-width:420px){
    .sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
    .sm\:gridcols-1{grid-template-columns:repeat(1,minmax(0,1fr))}
    .sm\:p-4{padding:1rem}
}
@media(min-width:640px){
    .sm\:gridcols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
    .sm\:rounded-lg{border-radius:.5rem}
    .sm\:block{display:block}
    .sm\:items-center{align-items:center}
    .sm\:justify-start{justify-content:flex-start}
    .sm\:justify-between{justify-content:space-between}
    .sm\:h-20{height:5rem}
    .sm\:ml-0{margin-left:0}
    .sm\:px-6{padding-left:1.5rem;padding-right:1.5rem}
    .sm\:pt-0{padding-top:0}
    .sm\:text-left{text-align:left}
    .sm\:text-right{text-align:right}

    
}
@media(min-width:768px){
    .md\:border-t-0{border-top-width:0}
    .md\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}
    .md\:grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}
    .md\:gridcols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
}
@media(min-width:1024px){
    .lg\:px-8{padding-left:2rem;padding-right:2rem}
}

#paginar{
    position:relative;
    width: 70%;
    height:3rem;
    bottom: .2rem;
    >nav{
        display: block;
        width: 70%;
        height:2rem;
        margin: auto;
        justify-content: center;
            >div{
            // display: block;
            margin: auto;
            >span,
            >a{
                position:static;
                background-color: hsl(180, 67%, 80%);
                margin:3px 2px;
                padding:.3rem .5rem;
                border-radius: 3px;
                font-variant: small-caps;
                border: 2px solid hsl(51, 46%, 50%);
                &:hover{
                   background-color:hsl(190, 100%, 40%);
                   color: #fff;
                   transition:background-color 1s;
                   }
            }
        }
    }

}

@media screen and (max-width:360px) and(orientation: portrait){
    #paginar{
        width:70%;
        >nav>div> a,
        >nav>div> span{ 
            padding:4px 5px 4px 5px;     
        font-size:.8rem; font-family: $f-condensed;
        }
    }
}
// @media screen and (max-width:640){
//     #paginar{
//         width:80%;
//         >nav>div>a,
//         >nav>div>span{
//             position:static;
//             padding:4px 0;
//             font-size:smaller;
//             font-family: $f-condensed}
//     }

// }


// #paginar>nav>div>a{
//     display:inline-block;
//     position:static;
//     bottom: 6rem;
//     left:40%
// }


/* =========== FONT/Text =========== */


.text-xs{font-size:.75rem}          
.text-sm{font-size:.875rem}
.text-4{font-size:1rem}
.text-lg{font-size:1.125rem}
.text-6{font-size:1.5rem}
.text-vw2{font-size:2vw}
.text-vw3{font-size:3vw}


.l-height{line-height:.5;margin-top:7px;}
.leading-7{line-height:1.75rem}

.text-center{text-align:center}
.text-left{text-align:left}
.text-justify{text-align:justify}

.font-semibold{font-weight:600}
.condensed{font-family: $f-condensed}
.sans-serif{font-family: $f-sans-serif}
.underline{text-decoration:underline}
.antialiased{-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale}
.text-overflow{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.ico-shadow{text-shadow:$textShadow}
.smallCaps{font-variant:small-caps}

.pasos-title-1{
    font-size:3rem;
    font-family:$f-sans-serif;
    font-variant:small-caps}

.pasos-title-2{
    font-size:2rem;
    margin-top:1rem;
    font-weight:300}

.pasos-title-3{
    font-size:1.2rem;
    font-variant:small-caps}

@media (max-width:550px){.bt-text-hide{display:none}}

.t_red{color:hsl(338, 100%, 40%);line-height:1.2}
.ejemplo{color:hsl(191, 100%, 35%);font-family:$f-condensed}

.hr{
    color:hsl(180, 47%, 83%);color:$azulBrand;
    padding-top: 2px;
    background-color:hsl(180, 47%, 83%);
    background-color:$azulBrand;
    border: 0px solid;
}

.personalizar{
    margin: 3px 3px; 
    border: 2px  solid $c_brd50;
    summary{
        border:0 solid;
        font-variant: small-caps;
        background-color: $yellBrand;
    }
    .resultado_bt{
        border:2px  solid $c_brd50;
    }

}
/* =========== dev =========== */
.hide-dev{display:block}
// .hide-dev{display:none}