@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
  overflow-y: auto;
  line-height: 1.4;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #444;
  background-color: #eceadf;
  overflow-y: auto;
  overflow-x: hidden;
}

/* =========== app =========== */

.container {
  margin: auto;
  padding: 0;
}

.b-box {
  box-sizing: border-box;
}

.c-box {
  box-sizing: content-box;
}

/* =========== FOOTER =========== */

.footer {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  top: calc(100% - 2.5rem );
  background-color: #363636;
  z-index: 1000;
}

.page-footer {
  height: 2.5rem;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  font-variant: small-caps;
  color: #fafafa;
}

.page-footer a {
  color: #99fcff;
}

.page-footer a:hover {
  color: #fafafa;
  transition: 1s;
}

@media screen and (min-width: 120px) and (max-width: 414px) {
  footer .page-footer {
    font-size: 0.7rem;
    line-height: 1.2;
  }
}

@media screen and (min-width: 415px) and (max-width: 640px) {
  footer .page-footer {
    font-size: 0.9rem;
  }
}

/* =========== container=========== */

.container,
.container-header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

/* =========== Tipografía =========== */

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}

h2,
.h2 {
  font-size: 1.8rem;
  line-height: 112%;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 400;
}

h4 {
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

kbd {
  border: 1px solid #ccc;
  background-color: #ffee00;
  border-radius: 3px;
  padding: 0 5px;
  font-weight: 700;
  color: #222;
}

ul,
li {
  list-style-type: none;
}

/* =========== IMAGE =========== */

img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  margin: 0.3rem 0.2rem 1.6rem 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  color: #555555;
}

/* =========== links =========== */

a,
a:not(.boton),
a:not(.btn) {
  text-decoration: none;
}

a:hover,
a:not(.boton):hover,
a:not(.btn):hover {
  cursor: pointer;
  transition: color 1s;
}

/* =========== HEADER =========== */

.main-header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #363636;
  z-index: 1;
}

hr {
  color: #555;
  background-color: #555;
}

.clase-header {
  height: 2.5rem;
  color: #333;
  clear: both;
}

.main-header > .container {
  padding-right: 0;
  padding-left: 0;
  margin-right: 2rem;
  margin-left: 2rem;
}

@media screen and (min-width: 769px) {
  .page-header {
    height: 5rem;
    margin: 0 0 2rem 0;
  }
}

/* =========== MENÚ-principal =========== */

@media screen and (min-width: 769px) {
  .logo {
    position: absolute;
    top: 0.5rem;
  }

  .logo > a > svg {
    border-radius: 100%;
    width: 7.5rem;
    height: 7.5rem;
    border: 0.5rem solid #eceadf;
  }

  .logo > a > svg:hover {
    border: 0.25rem solid #eceadf;
  }
}

.main-menu {
  position: absolute;
  top: 2.7rem;
  margin-left: 9rem;
}

.main-menu .nav-sub {
  padding: 0.5rem 1rem 0.5rem 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  height: 1.6em;
  color: #222;
}

.main-menu .nav-sub:hover {
  color: #00aacc;
  transition: 0.5s;
}

.main-menu .active {
  color: #00aacc;
}

.main-menu .navbar-brand {
  font-family: "Nunito", sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
}

.main-menu .navbar-brand.active {
  color: #ffee00;
}

.main-menu .navbar-brand.active:hover {
  color: #00f0f0;
  transition: 0.5s;
}

.logoMenu #mesaUno:hover {
  fill: #00f0f0;
}

/* ===========- MENÚ USER =========== */

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: -1rem;
  z-index: 1000;
  display: none;
  min-width: 12rem;
  padding: 0.8rem;
}

.menu-user {
  position: relative;
  top: 2rem;
  float: right;
  /*se posiciona*/
  display: flex;
  /*en UNA línea*/
}

.menu-user .user-link {
  padding: 0 0.6rem;
  font-size: 1.2rem;
  letter-spacing: 0.423;
  font-variant: small-caps;
  color: #fafafa;
}

.menu-user .user-link:hover {
  color: #00f0f0;
}

.menu-user > .nav-item > .show {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu-user > .nav-item > .dropdown-menu {
  top: 2rem;
  padding: 0 0.2rem;
  border: 1px solid #ccc;
  background-color: #f8fafc;
}

.menu-user > .nav-item > .dropdown-menu .dropdown-item {
  display: block;
  width: calc(100% - 2*2px);
  margin: 1px 2px;
  padding: 0.25rem 1.5rem;
  border-radius: 3px;
  font-size: 1rem;
  font-variant: small-caps;
  text-align: center;
}

.menu-user .hide-menu {
  display: none;
}

/* ===========  MENÚ @media 550px ===============*/

@media (max-width: 550px) {
  .page-header {
    height: 1.6rem;
    margin-bottom: 1.4rem;
  }

  .container-header {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .menuUso {
    position: relative;
    margin-top: -0.4rem;
  }

  .menuUso .nav-sub {
    font-size: 1rem;
    color: #363636;
    margin-bottom: 0.5rem;
  }

  .menuUso .nav-sub:hover {
    color: #00aacc;
  }

  .menuUso .active {
    color: #00aacc;
  }

  .logo {
    position: absolute;
    top: 0.1rem;
    margin-left: 0.45rem;
  }

  .logo > a > svg {
    border-radius: 100%;
    width: 2.7em;
    height: 2.7rem;
    border: 0.25rem solid #eceadf;
  }

  .logo > a > svg:hover {
    border: 0.15rem solid #eceadf;
  }

  .main-menu {
    top: -0.3rem;
    margin-left: 3.6rem;
  }

  .main-menu .navbar-brand {
    font-size: 1.5rem;
  }

  .menu-user {
    max-width: 12rem;
    right: 0.8rem;
    top: -0.75rem;
  }

  .menu-user .user-link {
    font-size: 1rem;
  }

  .dropdown-menu {
    margin-top: -0.5rem;
  }
}

.active {
  color: #00aacc;
}

/* ===========  MENÚ @media 768px ===============*/

@media screen and (min-width: 551px) and (max-width: 768px) {
  .page-header {
    height: 2.6rem;
    margin-bottom: 1.7rem;
  }

  .container-header {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .logo {
    position: absolute;
    top: 0.25rem;
    margin-left: 0.65rem;
  }

  .logo > a > svg {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    border: 0.35rem solid #eceadf;
  }

  .logo > a > svg:hover {
    border: 0.15rem solid #eceadf;
  }

  .main-menu {
    top: 0.4rem;
    margin-left: 6rem;
  }

  .main-menu .navbar-brand {
    font-size: 1.8rem;
  }

  .menuUso {
    position: relative;
    margin-top: -0.15rem;
  }

  .menuUso .nav-sub {
    font-size: 1.3rem;
    padding: 0.5rem 1rem 1rem 0;
    color: #363636;
    height: 1.6;
  }

  .menuUso .nav-sub:hover {
    color: #00aacc;
  }

  .menuUso .active {
    color: #00aacc;
  }

  .menu-user {
    max-width: 12rem;
    right: 0.8rem;
    top: -0.2rem;
  }

  .dropdown-menu {
    margin-top: -0.4rem;
  }
}

/* ===========  MENÚ BOTONES ===========*/

.menu-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-botones .items-menu-botones {
  display: block;
  align-content: center;
  padding: 0.25rem 1rem;
  margin: 0.15rem;
  font-variant: small-caps;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .menu-botones {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .menu-botones .items-menu-botones {
    width: 100%;
  }
}

.encabezamiento {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #00aacc;
  margin-bottom: 0.5rem;
}

.encabezamiento .h1 {
  color: #fafafa;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 0.09em;
}

/* =========== ALERTS =========== */

.alert {
  position: relative;
  max-width: 960px;
  padding: 0.5rem 1.25rem;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.alert-info {
  top: 0.8rem;
  color: #333;
  background-color: #c6ebec;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
}

/* =========== BUTTONS =========== */

button {
  border: 2px solid transparent;
}

button.btn,
button,
a.btn,
.btn,
.boton {
  margin: 2px;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.bt_pasos {
  height: 6rem;
  border: 2px solid #e1d9ad;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.2rem;
}

.bt_pasos > .ico-shadow {
  font-size: 2rem;
}

.tx-btn {
  color: #298ba3;
  font-family: "Roboto Condensed", sans-serif;
}

.tx-btn:hover {
  background-color: #d9f6f7;
}

.bt_pasos:hover,
button:hover,
a.btn:hover,
button.btn:hover,
.boton:hover {
  transition: background-color 0.3s, color 0.1s;
}

.bt_xxl {
  display: block;
  width: 100%;
  margin: 1rem 0;
  height: 2.4rem;
}

.disabled,
.disabled:hover {
  background-color: #cfcfcf;
  color: #fff;
  cursor: not-allowed;
}

.boton:disabled,
.boton.disabled {
  background-color: rgba(148, 207, 209, 0.4);
  border: 2px solid #e1d9ad;
  cursor: not-allowed;
}

.boton:disabled:hover,
.boton.disabled:hover {
  cursor: not-allowed;
  background-color: rgba(148, 207, 209, 0.4);
}

.continuar {
  border: 2px solid #0095b3;
  background-color: #c6ebec;
  color: #333;
}

.continuar:hover {
  border: 2px solid #958737;
  background-color: #00aacc;
  color: #fff;
}

.atras {
  border: 2px solid #0095b3;
  background-color: #eceadf;
  color: #333;
}

.atras:hover {
  border: 2px solid #958737;
  background-color: #00aacc;
  color: #fff;
}

.crear {
  border: 2px solid #958737;
  background-color: #0095b3;
  color: #fff;
}

.crear:hover {
  border-color: #00aacc;
  background-color: #eceadf;
  color: #0095b3;
}

.editar {
  border: 2px solid #baa945;
  border-radius: 3px;
  background-color: #ffee00;
  color: #333;
}

.editar:hover {
  border-color: #d3c888;
  background-color: #eceadf;
  color: #706529;
}

.warning {
  border: 2px solid #baa945;
  background-color: #f5f5bc;
  color: #57570f;
}

.warning:hover {
  border-color: #e1d9ad;
  background-color: #ffee00;
  color: #333;
}

.ver {
  border: 2px solid #958737;
  border-radius: 3px;
  background-color: #0095b3;
  color: #fff;
}

.ver:hover {
  border-color: #0095b3;
  background-color: #eceadf;
  color: #0095b3;
}

.bg-ver {
  background-color: #0095b3;
  color: #fff;
}

.bg-ver:hover {
  border-color: #0095b3;
  background-color: #f0ebd1;
  color: #363636;
}

.crearCurso {
  border: 2px solid #958737;
  background-color: #00c5cc;
  color: #fff;
  font-variant: small-caps;
}

.crearCurso:hover {
  border: 2px solid #e1d9ad;
  background-color: #9fdfdf;
  color: #333;
}

.enviar {
  border: 2px solid #d3c888;
  background-color: #00aacc;
  font-variant: small-caps;
  color: #fff;
}

.enviar:hover {
  border-color: #baa945;
  background-color: #9fdfdf;
  color: #333;
}

.borrar {
  border: 2px solid #baa945;
  background-color: #ff99aa;
  color: #333;
}

.borrar:hover {
  border: 2px solid #ff4d88;
  background-color: #eceadf;
  color: #ff4d88;
}

.borrarLarge {
  border: 2px solid #baa945;
  background-color: #ff99aa;
  font-variant: small-caps;
  color: #333;
}

.borrarLarge:hover {
  border-color: #d3c888;
  background-color: #f53d87;
  color: #fff;
}

.cancelar {
  border: 2px solid #d3c888;
  border-radius: 3px;
  background-color: #ff0066;
  color: #fff;
  padding: 0.25rem 1.5rem;
}

.cancelar:hover {
  border-color: #baa945;
  background-color: #ff99aa;
  color: #333;
}

div.cancelar {
  margin-top: 1rem;
}

.enviar,
.cancelar {
  font-weight: 500;
  font-size: 1.2rem;
}

.oscuro {
  border: 2px solid #e1d9ad;
  background-color: #494949;
  color: #99fcff;
}

.oscuro:hover {
  border: 2px solid #958737;
  background-color: #00c5cc;
  color: #fff;
}

.oscuro.disabled,
.oscuro:disabled {
  opacity: 0.4;
}

.oscuro.disabled:hover,
.oscuro:disabled:hover {
  border: 2px solid #e1d9ad;
  background-color: #494949;
  color: #99fcff;
}

.oscuro-reves {
  border: 2px solid #958737;
  background-color: #eceadf;
  color: #333;
}

.oscuro-reves:hover {
  border: 2px solid #e1d9ad;
  background-color: #494949;
  color: #99fcff;
}

.light-grey {
  border-top: 2px solid #e1d9ad;
  background-color: #f0ede0;
}

.default {
  border-color: #0095b3;
  background-color: #c6ebec;
  color: #333;
}

.default:hover {
  background-color: #00aacc;
  color: #fff;
}

.border-ccc {
  border: 2px solid #e1d9ad;
}

/* =========== caja =========== */

.caja {
  margin: 1rem auto;
  max-width: 960px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fcfcf8;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.caja-header.btn,
.caja-header button.btn,
.caja-header a.btn,
.caja-header.boton {
  box-sizing: border-box;
}

.caja-grid {
  border: 2px solid #e1d9ad;
  background-color: #e0edf0;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.circle {
  border-radius: 50%;
}

.ashadow {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* =========== Container  =========== */

@media screen and (min-width: 20px) and (max-width: 640px) {
  .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .caja {
    margin-right: 0;
    margin-left: 0;
  }

  .caja-body {
    padding: 0.5rem 0.3rem 0.8rem 0.3rem;
  }

  .caja-header {
    padding: 0.1rem 0.5rem;
  }

  .caja-header.btn,
  .caja-header select,
  .caja-header button.btn,
  .caja-header a.btn,
  .caja-header.boton {
    height: 1.8rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    min-width: 1.9rem;
    font-size: 0.9rem;
  }

  .caja-header select,
  option {
    font-size: 0.8rem;
    padding-right: 0;
  }

  .caja-header > .grid > a.btn {
    padding-top: 1px;
  }

  .pasos-title-1,
  .title {
    font-size: 1.1rem;
  }

  html {
    font-size: 14px;
  }

  .alert,
  .alert-info {
    font-size: 0.9rem;
    font-family: "Roboto Condensed", sans-serif;
  }

  .caja-header select {
    padding-top: 2px;
    padding-bottom: 3px;
  }

  .caja-header select option {
    height: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 20px) and (max-width: 414px) {
  .caja-body {
    padding-right: 3px;
    padding-left: 3px;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .container {
    max-width: 95%;
    margin: auto;
  }

  .alert {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .caja .pasos-title-1 {
    font-size: 3.5rem;
  }

  .caja-body {
    padding: 0.5rem 1.5rem;
  }

  .caja-header {
    padding: 0.5rem 1.5rem 0.4rem 1.5rem;
  }

  .caja-header h2 {
    font-size: 1.4rem;
  }

  .caja-header.btn,
  .caja-header select,
  .caja-header a.btn,
  .caja-header form > button,
  .caja-header.boton {
    height: 2rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    font-size: 0.9rem;
  }

  .caja-header select {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.9rem;
  }

  .caja-header select option {
    height: 2rem;
    line-height: 2rem;
    margin-top: 3px;
    margin-bottom: -3px;
    padding-top: 3px;
    padding-bottom: 0;
  }

  .caja-header > .grid > a > p {
    margin-top: 1px;
  }

  .caja-header > .grid > a.btn {
    padding-top: 2px;
  }

  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }

  .alert {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .caja-body {
    padding: 1.25rem 2.5rem;
  }

  .caja-header {
    padding: 0.75rem 2.5rem;
  }

  .caja-header h2 {
    font-size: 1.6rem;
  }

  .caja-header.btn,
  .caja-header select,
  .caja-header a.btn,
  .caja-header button,
  .caja-header.boton {
    height: 2.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .caja-header > .grid > a > p {
    margin-top: -2px;
  }

  .caja-header > .grid > a.btn {
    padding-top: 5px;
  }

  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1201px) {
  .container,
  .container-header {
    max-width: 1280px;
  }

  .alert {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }

  .caja-body {
    padding: 1.25rem 4.5rem;
  }

  .caja-header {
    padding: 0.75rem 4.5rem;
  }

  .caja-header.btn,
  .caja-header select,
  .caja-header a.btn,
  .caja-header button,
  .caja-header.boton {
    height: 2.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .caja-header > .grid > a > p {
    margin-top: -2px;
  }

  .caja-header > .grid > a.btn {
    padding-top: 5px;
  }
}

/* =========== TABLE =========== */

.tabla {
  width: 100%;
  table-layout: auto;
  padding: 1rem 0.5rem;
  border: 2px solid #e9e3c3;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  caption-side: bottom;
  background-color: #fff;
}

.tabla caption {
  margin-top: 1rem;
  padding: 0.7rem;
  border: 2px solid #e9e3c3;
  border-radius: 4px;
  color: #333;
  background-color: #fff47a;
}

.tabla.boton,
.tabla .btn,
.tabla .a,
.tabla .boton,
.tabla button {
  font-family: "Roboto Condensed", sans-serif;
  font-variant: small-caps;
  font-size: 1rem;
  height: 2rem;
  padding: 3px;
  box-sizing: border-box;
}

.tabla > thead > tr > th {
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabla td {
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.tabla .ver > span {
  font-family: "Roboto Condensed", sans-serif;
}

table th {
  border-bottom: 2px solid #00aacc;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  color: #00aacc;
}

tbody > tr > td > form {
  margin-bottom: 0;
  display: inline-block;
}

/* =========== TABLE @media 640px =========== */

@media screen and (max-width: 640px) {
  .tabla > thead > tr > th {
    font-size: 1rem;
  }

  .tabla .id {
    visibility: hidden;
    max-width: 0.01rem;
    margin-right: 0;
  }

  .tabla td {
    padding-right: 0;
    text-align: center;
  }

  .tabla td > a span,
  .tabla td > .btn,
  .tabla td > div > a.btn,
  .tabla td > form > button > span {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    font-size: 0.8rem;
  }

  .tabla td > p > span {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-variant: small-caps;
  }
}

@media screen and (max-width: 359px) {
  .tabla {
    font-size: 0.7rem;
  }

  .tabla > caption {
    font-size: 0.8rem;
  }

  .tabla table > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 414px) {
  .tabla {
    font-size: 0.8rem;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .tabla > caption {
    font-size: 0.9rem;
    margin-right: 0;
    margin-left: 0;
    padding-right: 3px;
    padding-left: 3px;
  }

  .tabla > thead > tr > th {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 415px) and (max-width: 640px) {
  .tabla {
    font-size: 0.9rem;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 4px;
    padding-left: 4px;
  }
}

@media screen and (min-width: 641px) {
  .tabla {
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  table td {
    font-size: 1rem;
  }
}

/* =========== TABLE @media botones =========== */

@media screen and (max-width: 414px) {
  .tabla .btn,
  .tabla a.btn,
  .tabla form button {
    width: 3.2rem;
    height: 1.7rem;
    margin: 4px auto;
  }

  td > p > span {
    max-width: 4rem;
  }

  tr > td > .editar,
  tr > td > form > .borrar,
  tr > td > .ver {
    height: 1.7rem;
    margin: 0.25rem 0;
  }
}

@media screen and (min-width: 415px) and (max-width: 640px) {
  .tabla .btn,
  .tabla a.btn,
  .tabla form button {
    width: 4rem;
    height: 1.8rem;
    margin: 4px auto;
  }

  td > p > span {
    max-width: 4rem;
  }

  tr > td > .editar,
  tr > td > form > .borrar,
  tr > td > .ver {
    height: 1.8rem;
    margin: 0.25rem 0;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .tabla .btn,
  .tabla a.btn,
  .tabla form button {
    width: 5.1rem;
    height: 2rem;
    margin: 4px auto;
  }

  td > p > span {
    max-width: 5.1rem;
  }

  tr > td > .editar,
  tr > td > form > .borrar,
  tr > td > .ver {
    height: 2rem;
    margin: 0.25rem 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .tabla .btn,
  .tabla a.btn,
  .tabla form button {
    width: 6rem;
    height: 2rem;
    margin: 4px auto;
  }

  td > p > span {
    max-width: 6rem;
  }

  tr > td > .editar,
  tr > td > form > .borrar,
  tr > td > .ver {
    height: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

@media screen and (min-width: 1025px) {
  .tabla .btn,
  .tabla a.btn,
  .tabla form button {
    width: 6rem;
    height: 2rem;
    margin: 4px auto;
  }

  td > p > span {
    max-width: 6rem;
  }

  tr > td > .editar,
  tr > td > form > .borrar,
  tr > td > .ver {
    height: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

#tabla-config-horario .editar,
#tabla-config-horario .crear {
  height: 4rem;
  margin: 3px;
}

#tabla-config-sesion .editar {
  width: 80%;
  height: 2rem;
  margin: 3px;
  font-size: 1.1rem;
}

.table-responsive {
  width: 100%;
  table-layout: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* =========== INPUT-FORM =========== */

select,
input,
textarea,
input[type=time] {
  padding: 0.5rem;
  border: 2px solid #d3c888;
  border-radius: 3px;
  margin-top: 0.2rem;
  color: #363636;
  background-color: #f7f6f2;
}

select {
  font-size: 0.7rem;
}

select:focus,
input:focus,
textarea:focus,
input[type=text]:focus {
  background-color: #d9f6f7;
  border-color: #00aacc;
  outline: none;
}

input[type=number] {
  max-width: 4rem;
}

label {
  font-family: "Roboto Condensed", sans-serif;
  color: #222;
}

select {
  margin-top: -1px;
}

/* =========== ETAPA-USO HEADER =========== */

.bt-clase-header {
  height: 2rem;
  min-width: 2.5rem;
  margin: 3px;
  padding: 0.2rem 1rem 0.25rem 1rem;
  border: 2px solid #00aacc;
  border-radius: 3px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-variant: small-caps;
  box-sizing: border-box;
}

.reloj {
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 640px) {
  .bt-clase-header {
    padding: 0.3rem 0.4rem 0.25rem 0.4rem;
    margin-left: 0.25rem;
  }

  .reloj {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .header-uso {
    font-size: 0.9rem;
  }
}

/* =========== MESA/BT_MESA =========== */

.aula-mesa {
  grid-gap: 10px 10px;
}

.mesa {
  background-color: #f4f3ec;
  border: 1px solid #ccc;
  margin: 5px;
  margin: auto;
}

.nombre_mesa {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #333;
  background-color: #e8e8e8;
}

.bt_mesa {
  margin-top: 3px;
  margin: 2px;
  padding: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

.bt_mesaIzq {
  width: calc(50% - 5px);
  margin-left: 3px;
}

.bt_mesaDcha {
  width: calc(50% - 5px);
  margin-right: 3px;
}

.nombre_mesa:not(:disabled):hover {
  background-color: #888;
  color: #fff;
  transition: background-color 0.3s, color 0.15s;
}

.bt_mesa:disabled,
.nombre_mesa:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.bt90x90 {
  width: 90px;
  height: 90px;
  text-align: center;
  border: 2px solid #baa945;
  background-color: darkgray;
}

.plantilla-bt {
  margin: 0.25rem 0.25rem 0.5rem 0.25rem;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
}

.no_border {
  border: 0 solid;
}

.resultado-bt {
  height: 3rem;
  margin-bottom: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: 2px solid #baa945;
  background-color: #c6ebec;
  color: #363636;
}

.plantilla-body {
  margin: auto;
  border: 2px solid #d3c888;
  display: block;
  width: calc(100% - 2*2px);
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  background-color: #eceadf;
}

.plantilla-footer {
  margin: 0.25rem;
  padding: 0.75rem 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  background-color: #00aacc;
}

@media screen and (orientation: landscape) {
  .mesa {
    flex-direction: column;
    justify-content: center;
  }

  .mesa .bt_mesa {
    width: calc(50% - 5px);
  }
}

@media screen and (orientation: portrait) {
  .mesa {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .mesa .bt_mesa {
    width: calc(100% - 6px);
    margin: 2px 3px;
    padding: 0.7rem 0;
  }
}

@media screen and (max-width: 360px) and (orientation: landscape) {
  .mesa {
    width: 4rem;
    height: 3.5rem;
  }

  .mesa .nombre_mesa {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) and (orientation: portrait) {
  .mesa {
    width: 3.7rem;
    height: 7rem;
  }

  .mesa .nombre_mesa {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 412px) and (orientation: portrait) {
  .mesa {
    width: 4rem;
    height: 7.5rem;
  }

  .mesa > div > .nombre_mesa {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 413px) and (max-width: 640px) and (orientation: portrait) {
  .mesa {
    width: 4.5rem;
    height: 8rem;
  }

  .mesa > div > .nombre_mesa {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 413px) and (max-width: 640px) and (orientation: landscape) {
  .mesa {
    width: 5.5rem;
    height: 4.3rem;
  }

  .mesa > div > .nombre_mesa {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) and (orientation: portrait) {
  .mesa {
    width: 6rem;
    height: 8rem;
  }

  .mesa > div > .nombre_mesa {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) and (orientation: landscape) {
  .mesa {
    width: 6rem;
    height: 5rem;
  }

  .mesa > div > .nombre_mesa {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mesa {
    width: 8rem;
    max-height: 5rem;
  }
}

@media screen and (min-width: 1025px) {
  .mesa {
    width: 12rem;
    max-height: 5.5rem;
  }
}

@media screen and (max-width: 412px) {
  .bt_mesa,
  .nombre_mesa {
    font-size: 0.8rem;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;
  }
}

@media screen and (max-width: 412px) {
  .bt_mesaIzq {
    width: calc(50% - 3px);
    margin-left: 1px;
  }

  .bt_mesaDcha {
    width: calc(50% - 3px);
    margin-right: 1px;
  }
}

/* =========== MODAL =========== */

.modal,
.nomodal {
  z-index: 3;
  padding-top: 0;
  position: fixed;
  left: 0;
  top: 1rem;
  width: 100%;
  height: calc(100% - 3.5rem);
  overflow: auto;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 4px rgba(60, 72, 72, 0.8);
  max-width: 360px;
}

.modal-content h3 {
  font-size: 1.5rem;
  color: #3193b9;
}

.animate-zoom {
  -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* =========== DETAILS/SUMMARY =========== */

details {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f9fae5;
}

details p {
  margin-left: 0.25rem;
  font-size: 0.9rem;
}

details summary {
  padding: 0.4rem;
  border: 2px solid #e9e3c3;
  background-color: #f5f5bc;
  cursor: pointer;
}

details > .destacado {
  background-color: #4d4d4d;
  color: #f5f4ef;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

details > .destacado p {
  font-size: 0.8rem;
}

/* ===========  =========== */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.border-gray-200 {
  border-color: #ededed;
}

.border-t {
  border-top-width: 1px;
}

.shadow {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
}

.overflow-hidden {
  overflow: hidden;
}

/* =========== DISPLAY FLOAT POSITION =========== */

.f_right {
  float: right;
}

.f_left {
  float: left;
}

.hidden {
  visibility: hidden;
}

.d_none {
  display: none;
}

.d_inline {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.d_block {
  display: block;
  width: calc(100% - 2*2px);
  margin: auto;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.d_topright {
  position: absolute;
  right: 0;
  top: 0;
}

/* =========== DISPLAY FLEX GRID =========== */

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.grd {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-2-auto {
  grid-template-columns: auto auto;
}

.grid-cols-3-auto {
  grid-template-columns: auto auto auto;
}

.grid-cols-4-auto {
  grid-template-columns: auto auto auto auto;
}

.grid-cols-5-auto {
  grid-template-columns: auto auto auto auto auto;
}

.grid-cols-6-auto {
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-cols-7-auto {
  grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-cols-8-auto {
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.grid-cols-9-auto {
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.grid-cols-3-fr {
  grid-template-columns: 1fr auto auto;
}

.grid-cols-4-fr {
  grid-template-columns: 1fr auto auto auto;
}

.grid-cols-5-fr {
  grid-template-columns: 1fr auto auto auto auto;
}

.grid-cols4 {
  grid-template-columns: 1fr auto auto auto;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, 100%);
}

.grid-rows-2 {
  grid-template-rows: repeat(2, 50%);
}

.grid-rows-3 {
  grid-template-rows: repeat(3, 33%);
}

.grid-rows-4 {
  grid-template-rows: repeat(4, 25%);
}

.grid-rows-5 {
  grid-template-rows: repeat(5, 20%);
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-right {
  justify-content: right;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-center {
  align-content: center;
}

.self-end {
  align-self: end;
}

/* =========== COLORS =========== */

.bg-yellow {
  background-color: #ffee00;
}

.bg-yellow :hover {
  background-color: #aaeeee;
}

.bg-sky {
  background-color: #00f0f0;
  color: #333;
}

.bg-blue {
  background-color: #aaeeee;
}

.bg-gradual1 {
  background-color: #cafcfc;
}

.bg-gradual2 {
  background-color: #99ffff;
}

.bg-gradual3 {
  background-color: #4dffff;
}

.bg-gradual4 {
  background-color: aqua;
}

.bg-gradual5 {
  background-color: #25d1f4;
}

.bg-gradual6 {
  background-color: #00aacc;
  color: #ffffff;
}

.bg-azul-kc {
  background-color: #00aacc;
}

.bg-fucsia {
  background-color: #ff0066;
}

.bg-amarillo {
  background-color: #ffee00;
}

.bg-beige {
  background-color: #eceadf;
}

.bg-mostaza {
  background-color: #f5f5bc;
}

.bg-marfil {
  background-color: #f9fae5;
}

.bg-666 {
  background-color: #666;
}

.bg-36 {
  background-color: #363636;
  color: #fff;
}

.sino {
  background-color: #2c2c2c;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-gray-100 {
  background-color: #f7f7f7;
}

.bg-transparent {
  background-color: #00000000;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-gray-200 {
  color: #ededed;
}

.text-gray-300 {
  color: #e2e2e2;
}

.text-gray-400 {
  color: #cbcbcb;
}

.text-gray-500 {
  color: #a0a0a0;
}

.text-gray-600 {
  color: #717171;
}

.text-gray-700 {
  color: #4a4a4a;
}

.text-gray-900 {
  color: #363636;
}

.text-blue-40 {
  color: #00aacc;
}

.text-blue-30 {
  color: #00a3cc;
}

.relojEnorme {
  font-size: 12vw;
  color: #f8f7f1;
  text-shadow: 1px 1px 8px #000;
}

.marcoReloj {
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #0095b3;
  border: 8px solid #f9f8f6;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 8px rgba(0, 58, 65, 0.85);
}

/* =========== MARGIN =========== */

.-mt-px {
  margin-top: -1px;
}

.mt--1 {
  margin-top: -3px;
}

.mt--03 {
  margin-top: -3px;
}

.m-1 {
  margin: 0.25rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-12 {
  margin-left: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* =========== PADDING =========== */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-03 {
  padding-top: 3px;
}

.pt-02 {
  padding-top: 2px;
}

.pb-03 {
  padding-bottom: 6px;
}

.p-1 {
  padding: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.px-8 {
  padding-left: 2em;
  padding-right: 2rem;
}

/* =========== SIZE =========== */

.min-h-screen {
  min-height: 100vh;
}

.h-2 {
  height: 0.5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-12 {
  height: 2.5rem;
}

.h-16 {
  height: 4rem;
}

.h-24 {
  height: 6rem;
}

.h-90 {
  height: calc(100% - 3rem);
}

.h-100 {
  height: 100%;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-24 {
  width: 6rem;
}

.w-auto {
  width: auto;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.informacion {
  font-size: 0.9rem;
}

/* =========== Medias =========== */

@media (min-width: 420px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:gridcols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:p-4 {
    padding: 1rem;
  }
}

@media (min-width: 640px) {
  .sm\:gridcols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:h-20 {
    height: 5rem;
  }

  .sm\:ml-0 {
    margin-left: 0;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-right {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .md\:border-t-0 {
    border-top-width: 0;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:gridcols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#paginar {
  position: relative;
  width: 70%;
  height: 3rem;
  bottom: 0.2rem;
}

#paginar > nav {
  display: block;
  width: 70%;
  height: 2rem;
  margin: auto;
  justify-content: center;
}

#paginar > nav > div {
  margin: auto;
}

#paginar > nav > div > span,
#paginar > nav > div > a {
  position: static;
  background-color: #aaeeee;
  margin: 3px 2px;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  font-variant: small-caps;
  border: 2px solid #baa945;
}

#paginar > nav > div > span:hover,
#paginar > nav > div > a:hover {
  background-color: #00aacc;
  color: #fff;
  transition: background-color 1s;
}

@media screen and (max-width: 360px) and (orientation: portrait) {
  #paginar {
    width: 70%;
  }

  #paginar > nav > div > a,
  #paginar > nav > div > span {
    padding: 4px 5px 4px 5px;
    font-size: 0.8rem;
    font-family: "Roboto Condensed", sans-serif;
  }
}

/* =========== FONT/Text =========== */

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-4 {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-6 {
  font-size: 1.5rem;
}

.text-vw2 {
  font-size: 2vw;
}

.text-vw3 {
  font-size: 3vw;
}

.l-height {
  line-height: 0.5;
  margin-top: 7px;
}

.leading-7 {
  line-height: 1.75rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.font-semibold {
  font-weight: 600;
}

.condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.sans-serif {
  font-family: "Nunito", sans-serif;
}

.underline {
  text-decoration: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ico-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

.smallCaps {
  font-variant: small-caps;
}

.pasos-title-1 {
  font-size: 3rem;
  font-family: "Nunito", sans-serif;
  font-variant: small-caps;
}

.pasos-title-2 {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 300;
}

.pasos-title-3 {
  font-size: 1.2rem;
  font-variant: small-caps;
}

@media (max-width: 550px) {
  .bt-text-hide {
    display: none;
  }
}

.t_red {
  color: #cc004b;
  line-height: 1.2;
}

.ejemplo {
  color: #0092b3;
  font-family: "Roboto Condensed", sans-serif;
}

.hr {
  color: #bfe8e8;
  color: #00aacc;
  padding-top: 2px;
  background-color: #bfe8e8;
  background-color: #00aacc;
  border: 0px solid;
}

.personalizar {
  margin: 3px 3px;
  border: 2px solid #baa945;
}

.personalizar summary {
  border: 0 solid;
  font-variant: small-caps;
  background-color: #ffee00;
}

.personalizar .resultado_bt {
  border: 2px solid #baa945;
}

/* =========== dev =========== */

.hide-dev {
  display: block;
}

